In [51]:
import ETL_functions as etf
import numpy as np
import pandas as pd
import ast

## esto borra las columnas que no tengan ni app_name ni title
    ya que aunque se podria rellenar con datos de user_items solo son 2 registros por lo que no me tomare el trabajo de normalizar

In [62]:
mask = ((df_sg["title"] == "None") & (df_sg["app_name"] == "None")) #filtro donde title y app_name tengan el valor de "None" (es una string debido a que los transforme anterior mente)
df_sg = df_sg[~mask]# ~ obtenemos la parte contraria de el filtro ,y los seteamos al dataframe simulando un dropeo

    esto solo borro 2 registros que no tenian utilidad ya que una app que no tiene ningun nombre no se puede recomendar

## esto borra las filas que no tengan genres ni tags
    ya que si tienen aunque si no cuenta con valor en genres no podre reemplazar los datos por los de tags que forman parte de genres

In [63]:
mask = (df_sg["genres"] == "None") & (df_sg["tags"] == "None")# #filtro donde genres y tags tengan el valor de "None" (es una string debido a que los transforme anterior mente)
df_sg = df_sg[~mask]# invertimos el resultado de el filtro para obtener las que no tiene valor == "None"

    esto borro 7 registros que no tenian ningun tipo de etiqueta o genero por el cual se pudieran recomendar.por lo que me parecio correcto borrar (en EDA conclui que hay algunos tags que forman parte de genero y que specs no)

    la siguiente linea borra los corchetes las comillas y los espacios entre los valores volviendolos un str separado por , que forman parte del string

In [68]:
df_sg["genres"] = df_sg["genres"].str.strip("[]").str.replace(" '","").str.replace("'","")

df_sg["genres"]

88310         Action,Casual,Indie,Simulation,Strategy
88311                 Free to Play,Indie,RPG,Strategy
88312     Casual,Free to Play,Indie,Simulation,Sports
88313                         Action,Adventure,Casual
88314                                            None
                             ...
120440               Casual,Indie,Simulation,Strategy
120441                          Casual,Indie,Strategy
120442                        Indie,Racing,Simulation
120443                                   Casual,Indie
120444                                           None
Name: genres, Length: 31995, dtype: object

    hacemos lo mismo con tags

In [69]:
df_sg["tags"] = df_sg["tags"].str.strip("[]").str.replace(" '","").str.replace("'","")

df_sg["tags"]

88310               Strategy,Action,Indie,Casual,Simulation
88311     Free to Play,Strategy,Indie,RPG,Card Game,Trad...
88312     Free to Play,Simulation,Sports,Casual,Indie,Mu...
88313                               Action,Adventure,Casual
88314                            Action,Indie,Casual,Sports
                                ...
120440                     Strategy,Indie,Casual,Simulation
120441                                Strategy,Indie,Casual
120442                              Indie,Simulation,Racing
120443    Indie,Casual,Puzzle,Singleplayer,Atmospheric,R...
120444    Early Access,Adventure,Indie,Action,Simulation,VR
Name: tags, Length: 31995, dtype: object

    usamos la funcion creada en el archivo ETL_functions para sacar los elementos unicos de estas columnas

In [70]:
generos = etf.valores_lista(df_sg,"genres") #obtengo todos los valores unicos de genres
tags = etf.valores_lista(df_sg,"tags")      #obtengo todos  los valores unicos de tags
elementos_comunes = list(set(generos) & set(tags)) #obtengo la interseccion entre esos valores

elementos_comunes#esta es la lista de los valores que sabemos que estan en genero que tambien forman parte de tags

['Indie',
 'Video Production',
 'Software Training',
 'Adventure',
 'Utilities',
 'Audio Production',
 'None',
 'Photo Editing',
 'Action',
 'Web Publishing',
 'Racing',
 'Massively Multiplayer',
 'Early Access',
 'Free to Play',
 'Casual',
 'RPG',
 'Sports',
 'Simulation',
 'Strategy',
 'Education']

    estos son los valores que comparten tanto generos como tags podemos notar que se encuentra el valor None(lo borraremos) y algunos valores que podrian no considerarse generos pero los dejaremos ya que podria ser que dentro de laa plataforma si se consideren como generos

In [71]:
elementos_comunes.remove('None')# removemos None de esta lista de elementos en comun

In [72]:
elementos_comunes

['Indie',
 'Video Production',
 'Software Training',
 'Adventure',
 'Utilities',
 'Audio Production',
 'Photo Editing',
 'Action',
 'Web Publishing',
 'Racing',
 'Massively Multiplayer',
 'Early Access',
 'Free to Play',
 'Casual',
 'RPG',
 'Sports',
 'Simulation',
 'Strategy',
 'Education']

### antes de rellenar genres

In [73]:
df_sg["genres"]

88310         Action,Casual,Indie,Simulation,Strategy
88311                 Free to Play,Indie,RPG,Strategy
88312     Casual,Free to Play,Indie,Simulation,Sports
88313                         Action,Adventure,Casual
88314                                            None
                             ...
120440               Casual,Indie,Simulation,Strategy
120441                          Casual,Indie,Strategy
120442                        Indie,Racing,Simulation
120443                                   Casual,Indie
120444                                           None
Name: genres, Length: 31995, dtype: object

    rellenamos genres

In [74]:
etf.rellenar_comunes(df_sg,"genres",df_sg,"tags",elementos_comunes)

'fin de ejecucion'

### despues de rellenar genres

In [75]:
df_sg["genres"]

88310            Action,Casual,Indie,Simulation,Strategy
88311                    Free to Play,Indie,RPG,Strategy
88312        Casual,Free to Play,Indie,Simulation,Sports
88313                            Action,Adventure,Casual
88314                         Casual,Action,Sports,Indie
                               ...
120440                  Casual,Indie,Simulation,Strategy
120441                             Casual,Indie,Strategy
120442                           Indie,Racing,Simulation
120443                                      Casual,Indie
120444    Indie,Simulation,Action,Early Access,Adventure
Name: genres, Length: 31995, dtype: object

--

    ahora podemos borrar la columna tags ya que el unico motivo por el que la conservaba era para rellenar genres

In [76]:
del df_sg["tags"]

In [77]:
etf.data_review(df_sg)

Total rows:  31995

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31995,0.00,0
1,app_name,[<class 'str'>],100.00,31995,0.00,0
2,title,[<class 'str'>],100.00,31995,0.00,0
3,url,[<class 'str'>],100.00,31995,0.00,0
4,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29930,6.45,2065
5,reviews_url,"[<class 'str'>, <class 'NoneType'>]",100.00,31994,0.00,1
6,price,"[<class 'float'>, <class 'str'>, <class 'NoneT...",95.76,30640,4.24,1355
7,early_access,[<class 'float'>],100.00,31995,0.00,0
8,id,[<class 'float'>],100.00,31994,0.00,1
9,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28725,10.22,3270

    ya contamos con 0 nulls en genres

##   rellenar app_name con title

    esto habia que hacerlo pero con el borrado de los duplicados se borraron casi todos y con el borrar los que no tenian valores en ninguna de las 2 columnas no quedo ni uno pero la funcion ya la hice

In [78]:
# reemplazar los valores de app_name con los valores de title cuando app_name es igual a "None"
df_sg["app_name"] = np.where(df_sg["app_name"] == "None", df_sg["title"], df_sg["app_name"])

In [79]:
df_sg["app_name"].sample(15)

90873                    The Journey Down: Chapter Two
100151            Deadbeat Heroes: Collector's Upgrade
116872                       DW8XLCE - BASE THEME PACK
94981           Car Mechanic Simulator 2015 - Maserati
115181                               Reboot Soundtrack
99430     Fantasy Grounds - Fifth Edition Options (5E)
99264                                    Dimension 404
91088                                        TesserAct
100008             Duel of Summoners - Collectors Pack
91829                               Lovely Planet Demo
105697                           Steve Byrne: Champion
96278               Creeper World: Anniversary Edition
110739                                   Dead End Road
89067                                 The Sims™ 3 Pets
99630                                       Find this!
Name: app_name, dtype: object

##  ahora podemos dropear title

In [80]:
del df_sg["title"]

    ya que ya la utilizamos para obtener los valores que queriamos

## ahora asignaremos lo dtype correspondientes a cada campo

### "price" str a float

In [84]:
df_sg["price"] = df_sg["price"].astype(str)

In [85]:
lista = etf.valores_no_numericos(df_sg["price"])# esta funcion la hice en ETL_funciones
print(lista) #lista con todos los valores que no pueden ser transformados a numericos

['Free To Play', 'Free to Play', 'None', 'Free', 'Free Demo', 'Play for Free!', 'Install Now', 'Play WARMACHINE: Tactics Demo', 'Free Mod', 'Install Theme', 'Third-party', 'Play Now', 'Free HITMAN™ Holiday Pack', 'Play the Demo', 'Starting at $499.00', 'Starting at $449.00', 'Free to Try', 'Free Movie', 'Free to Use']

In [86]:
#quito de la lista estos 2 valores que no se podian convertir a numerico pero contiene su precio numerico en la cadena
lista.remove("Starting at $499.00")
lista.remove('Starting at $449.00')

In [87]:
#remplazo estas 2 cadenas por sus valores numericos
df_sg["price"] = df_sg["price"].replace("Starting at $499.00","499") 
df_sg["price"] = df_sg["price"].replace("Starting at $449.00","449")

In [88]:
lista #ahora la lista solo contiene valores que podria reemplazar por precio 0

['Free To Play',
 'Free to Play',
 'None',
 'Free',
 'Free Demo',
 'Play for Free!',
 'Install Now',
 'Play WARMACHINE: Tactics Demo',
 'Free Mod',
 'Install Theme',
 'Third-party',
 'Play Now',
 'Free HITMAN™ Holiday Pack',
 'Play the Demo',
 'Free to Try',
 'Free Movie',
 'Free to Use']

    yo asumi que todos estos valores hacer referencia a un precio 0 aunque "Third-party"  podria ser una excepecion

In [89]:
df_sg["price"] = df_sg["price"].replace(lista,"0")#cambio los valores string que equivalen a precio 0 por "0"

In [90]:
df_sg["price"] = df_sg["price"].astype(float)#cambiando el dtype a float

In [91]:
etf.data_review(df_sg)

Total rows:  31995

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31995,0.00,0
1,app_name,[<class 'str'>],100.00,31995,0.00,0
2,url,[<class 'str'>],100.00,31995,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29930,6.45,2065
4,reviews_url,"[<class 'str'>, <class 'NoneType'>]",100.00,31994,0.00,1
5,price,[<class 'float'>],100.00,31995,0.00,0
6,early_access,[<class 'float'>],100.00,31995,0.00,0
7,id,[<class 'float'>],100.00,31994,0.00,1
8,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28725,10.22,3270

    ahora nos dice 0 valores nulos y como pudimos hacer las conversiones de tipo de dato podemos estar seguros

In [92]:
df_sg.sample(10) #ejecute varias veces por si acaso

,genres,app_name,url,release_date,reviews_url,price,early_access,id,developer
103750,"Indie,RPG,Strategy",Fantasy Grounds - Islands of Plunder: Scourge ...,http://store.steampowered.com/app/718390/Fanta...,2017-09-25,http://steamcommunity.com/app/718390/reviews/?...,5.99,0.0,718390.0,"SmiteWorks USA, LLC"
113281,"Adventure,Indie",Quatro Luzes,http://store.steampowered.com/app/415980/Quatr...,2015-11-15,http://steamcommunity.com/app/415980/reviews/?...,5.99,0.0,415980.0,Jardel Elias
102541,"Adventure,RPG,Strategy",幽冥路（The Way to Nether）,http://store.steampowered.com/app/709060/The_W...,2017-11-09,http://steamcommunity.com/app/709060/reviews/?...,0.00,0.0,709060.0,Heluo Studio
88408,Strategy,"Warhammer® 40,000: Dawn of War® - Dark Crusade",http://store.steampowered.com/app/4580/Warhamm...,2006-10-09,http://steamcommunity.com/app/4580/reviews/?br...,12.99,0.0,4580.0,Relic Entertainment
111162,"Indie,RPG",Celestian Tales: Old North - Howl of the Ravager,http://store.steampowered.com/app/462610/Celes...,2016-06-06,http://steamcommunity.com/app/462610/reviews/?...,4.99,0.0,462610.0,Ekuator Games
110305,"Action,Adventure,Casual,Indie,Strategy",Genius Greedy Mouse,http://store.steampowered.com/app/485640/Geniu...,2016-08-12,http://steamcommunity.com/app/485640/reviews/?...,4.99,0.0,485640.0,"Space Fractal,TempleTiger"
91527,"Action,Adventure",Raid Mode: Throwback Map Pack,http://store.steampowered.com/app/320372/Raid_...,2015-02-24,http://steamcommunity.com/app/320372/reviews/?...,4.99,0.0,320372.0,Capcom
92059,"RPG,Simulation,Strategy",Tropico 5 - Espionage,http://store.steampowered.com/app/284441/Tropi...,2015-05-28,http://steamcommunity.com/app/284441/reviews/?...,7.99,0.0,284441.0,Haemimont Games
104292,"Indie,RPG,Strategy",Fantasy Grounds - The Malefactor Class: Revise...,http://store.steampowered.com/app/704620/Fanta...,2017-08-30,http://steamcommunity.com/app/704620/reviews/?...,3.99,0.0,704620.0,"SmiteWorks USA, LLC"
96373,"Animation &amp; Modeling,Design &amp; Illustra...",Marmoset Toolbag 3,http://store.steampowered.com/app/550060/Marmo...,2016-11-25,http://steamcommunity.com/app/550060/reviews/?...,189.00,0.0,550060.0,Marmoset LLC

In [99]:
etf.data_review(df_sg)

Total rows:  31994

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31994,0.00,0
1,app_name,[<class 'str'>],100.00,31994,0.00,0
2,url,[<class 'str'>],100.00,31994,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29929,6.45,2065
4,reviews_url,[<class 'str'>],100.00,31994,0.00,0
5,price,[<class 'float'>],100.00,31994,0.00,0
6,early_access,[<class 'float'>],100.00,31994,0.00,0
7,id,[<class 'str'>],100.00,31994,0.00,0
8,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28724,10.22,3270

    habia un solo un nulo en id el cual borre ya que es una cantidad muy pequeña para dedicar tiempo a cooregirla y puede no afectar mucho a los resultados

In [102]:
etf.data_review(df_sg)

Total rows:  31994

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31994,0.00,0
1,app_name,[<class 'str'>],100.00,31994,0.00,0
2,url,[<class 'str'>],100.00,31994,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29929,6.45,2065
4,reviews_url,[<class 'str'>],100.00,31994,0.00,0
5,price,[<class 'float'>],100.00,31994,0.00,0
6,id,[<class 'str'>],100.00,31994,0.00,0
7,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28724,10.22,3270

## Dataframe resultante
|columna|tipo|
|-------|----|
|publisher     | fue borrada|
|genres        | str(list)|
|app_name      | str|
|title         | str|
|url           | str|
|release_date  | str|
|tags          | fue borrada|
|reviews_url   | str|
|specs         | fue borrada|
|price         | float|
|early_access  | fue borrada|
|id            | str|
|developer |str|

## guardando el df procesado en un archivo parquet

In [111]:
df_sg.to_parquet(r"../app/steam_games.parquet")#dentro de la carpeta de la api