In [40]:
import ETL_functions as etf
import numpy as np
import pandas as pd
import ast

# steam_games.json

## carga de dataset

In [2]:
df_sg = pd.read_json(r"../Datasets/steam_games.json/output_steam_games.json", lines=True)

    transformo las siguientes columnas a tipo str ya que es dificil manejar listas y tira errores en bastantes metodos de pandas

In [3]:
df_sg["genres"] = df_sg["genres"].astype(str)
df_sg["tags"] = df_sg["tags"].astype(str)
df_sg["specs"] = df_sg["specs"].astype(str)

In [4]:
etf.data_review(df_sg)

Total rows:  120445

Total full null rows:  0

Total duplicated rows: 88309

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,publisher,"[<class 'NoneType'>, <class 'str'>]",20.00,24083,80.00,96362
1,genres,[<class 'str'>],100.00,120445,0.00,0
2,app_name,"[<class 'NoneType'>, <class 'str'>]",26.68,32133,73.32,88312
3,title,"[<class 'NoneType'>, <class 'str'>]",24.98,30085,75.02,90360
4,url,"[<class 'NoneType'>, <class 'str'>]",26.68,32135,73.32,88310
5,release_date,"[<class 'NoneType'>, <class 'str'>]",24.96,30068,75.04,90377
6,tags,[<class 'str'>],100.00,120445,0.00,0
7,reviews_url,"[<class 'NoneType'>, <class 'str'>]",26.68,32133,73.32,88312
8,specs,[<class 'str'>],100.00,120445,0.00,0
9,price,"[<class 'NoneType'>, <class 'float'>, <class '...",25.54,30758,74.46,89687
10,early_access,[<class 'float'>],26.68,32135,73.32,88310
11,id,[<class 'float'>],26.68,32133,73.32,88312
12,developer,"[<class 'NoneType'>, <class 'str'>]",23.94,28836,76.06,91609

    gracias a esta funcion podemos darnos rapidamente de laa cantidad de nulos en cada columna ecepto en las
    tres que eran listas que pasamos a str ya que cualquier cadena de texto no vacia no es considerada un null

## eliminacion de duplicados

    cualquier registro duplicado no resulta importante debido a que los datos ya se encuentran en el dataset 
    (en especial en este caso que tenemos muchas columnas que tienen todas la columnas en null)

In [5]:
df_sg.duplicated().value_counts()#88309 registros duplicados y 32136 registros unicos

True     88309
False    32136
Name: count, dtype: int64

In [6]:
df_sg.drop_duplicates(inplace=True)#elimino todos los duplicados dejando solo registros unicos y con ellos una columna llena de valores null que removere en la siguiente instruccion

In [7]:
df_sg.head(3)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,0.0,643980.0,Secret Level SRL

In [8]:
df_sg.drop(0,inplace=True)#borramos la unica columna que no poseia datos que quedaba

In [9]:
df_sg.head(3) #con esto  dejamos este primer archivo relativamente limpio

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,0.0,670290.0,Poolians.com

In [10]:
etf.data_review(df_sg)

Total rows:  32135

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,publisher,"[<class 'str'>, <class 'NoneType'>]",74.94,24083,25.06,8052
1,genres,[<class 'str'>],100.00,32135,0.00,0
2,app_name,"[<class 'str'>, <class 'NoneType'>]",99.99,32133,0.01,2
3,title,"[<class 'str'>, <class 'NoneType'>]",93.62,30085,6.38,2050
4,url,[<class 'str'>],100.00,32135,0.00,0
5,release_date,"[<class 'str'>, <class 'NoneType'>]",93.57,30068,6.43,2067
6,tags,[<class 'str'>],100.00,32135,0.00,0
7,reviews_url,"[<class 'str'>, <class 'NoneType'>]",99.99,32133,0.01,2
8,specs,[<class 'str'>],100.00,32135,0.00,0
9,price,"[<class 'float'>, <class 'str'>, <class 'NoneT...",95.71,30758,4.29,1377
10,early_access,[<class 'float'>],100.00,32135,0.00,0
11,id,[<class 'float'>],99.99,32133,0.01,2
12,developer,"[<class 'str'>, <class 'NoneType'>]",89.73,28836,10.27,3299

    quedando ahora la mayor cantidad de nulos en publisher y developer las cuales considero columnas que no importa que tengan valores nulls

## eliminacion de nulos

In [11]:
#cambiamos los tipos de datos para tratar los None como cadenas
df_sg["title"] = df_sg["title"].astype(str)
df_sg["app_name"] = df_sg["app_name"].astype(str)

## esto borra las columnas que no tengan ni app_name ni title
    ya que aunque se podria rellenar con datos de user_items solo son 2 registros por lo que no me tomare el trabajo de normalizar

In [12]:
mask = ((df_sg["title"] == "None") & (df_sg["app_name"] == "None")) #filtro donde title y app_name tengan el valor de "None" (es una string debido a que los transforme anterior mente)
df_sg = df_sg[~mask]# ~ obtenemos la parte contraria de el filtro ,y los seteamos al dataframe simulando un dropeo

    esto solo borro 2 registros que no tenian utilidad ya que una app que no tiene ningun nombre no se puede recomendar

## esto borra las filas que no tengan genres ni tags
    ya que si tienen aunque si no cuenta con valor en genres no podre reemplazar los datos por los de tags que forman parte de genres

In [13]:
mask = (df_sg["genres"] == "None") & (df_sg["tags"] == "None")# #filtro donde genres y tags tengan el valor de "None" (es una string debido a que los transforme anterior mente)
df_sg = df_sg[~mask]# invertimos el resultado de el filtro para obtener las que no tiene valor == "None"

    esto borro 7 registros que no tenian ningun tipo de etiqueta o genero por el cual se pudieran recomendar.por lo que me parecio correcto borrar (en EDA conclui que hay algunos tags que forman parte de genero y que specs no)

## dropeo "specs"  por lo que nombre en el eda sobre que no es una columna relevante

In [14]:
del df_sg["specs"]

## elimino la columna publisher ya que no la vamos a usar y tiene 8000 nulos

In [15]:
del df_sg["publisher"]

## reemplazo los valores nulos en genero por los coincidentes en tags

In [16]:
backup = df_sg.copy()

In [17]:
df_sg = backup # restaurar el estado de el dataframe a este punto

### reduciendo la listas a un string separado por , para facilitar el procesamiento a partir de split cadaa vez que necesitemos acceder

In [18]:
df_sg["genres"] = df_sg["genres"].str.strip("[]").str.replace(" '","").str.replace("'","")

df_sg["genres"]

88310         Action,Casual,Indie,Simulation,Strategy
88311                 Free to Play,Indie,RPG,Strategy
88312     Casual,Free to Play,Indie,Simulation,Sports
88313                         Action,Adventure,Casual
88314                                            None
                             ...
120440               Casual,Indie,Simulation,Strategy
120441                          Casual,Indie,Strategy
120442                        Indie,Racing,Simulation
120443                                   Casual,Indie
120444                                           None
Name: genres, Length: 31995, dtype: object

In [19]:
df_sg["tags"] = df_sg["tags"].str.strip("[]").str.replace(" '","").str.replace("'","")

df_sg["tags"]

88310               Strategy,Action,Indie,Casual,Simulation
88311     Free to Play,Strategy,Indie,RPG,Card Game,Trad...
88312     Free to Play,Simulation,Sports,Casual,Indie,Mu...
88313                               Action,Adventure,Casual
88314                            Action,Indie,Casual,Sports
                                ...
120440                     Strategy,Indie,Casual,Simulation
120441                                Strategy,Indie,Casual
120442                              Indie,Simulation,Racing
120443    Indie,Casual,Puzzle,Singleplayer,Atmospheric,R...
120444    Early Access,Adventure,Indie,Action,Simulation,VR
Name: tags, Length: 31995, dtype: object

In [20]:
generos = etf.valores_lista(df_sg,"genres") #obtengo todos los valores unicos de genres
tags = etf.valores_lista(df_sg,"tags")      #obtengo todos  los valores unicos de tags
elementos_comunes = list(set(generos) & set(tags)) #obtengo la interseccion entre esos valores

elementos_comunes#esta es la lista de los valores que sabemos que estan en genero que tambien forman parte de tags

['Action',
 'Software Training',
 'Video Production',
 'Utilities',
 'Photo Editing',
 'Strategy',
 'Education',
 'Racing',
 'Casual',
 'Simulation',
 'Web Publishing',
 'None',
 'RPG',
 'Audio Production',
 'Massively Multiplayer',
 'Free to Play',
 'Sports',
 'Adventure',
 'Indie',
 'Early Access']

In [21]:
elementos_comunes.remove('None')# removemos None de esta lista de elementos en comun

In [22]:
elementos_comunes

['Action',
 'Software Training',
 'Video Production',
 'Utilities',
 'Photo Editing',
 'Strategy',
 'Education',
 'Racing',
 'Casual',
 'Simulation',
 'Web Publishing',
 'RPG',
 'Audio Production',
 'Massively Multiplayer',
 'Free to Play',
 'Sports',
 'Adventure',
 'Indie',
 'Early Access']

### antes de rellenar genres

In [23]:
df_sg["genres"]

88310         Action,Casual,Indie,Simulation,Strategy
88311                 Free to Play,Indie,RPG,Strategy
88312     Casual,Free to Play,Indie,Simulation,Sports
88313                         Action,Adventure,Casual
88314                                            None
                             ...
120440               Casual,Indie,Simulation,Strategy
120441                          Casual,Indie,Strategy
120442                        Indie,Racing,Simulation
120443                                   Casual,Indie
120444                                           None
Name: genres, Length: 31995, dtype: object

In [24]:
etf.rellenar_comunes(df_sg,"genres",df_sg,"tags",elementos_comunes)

'fin de ejecucion'

### despues de rellenar genres

In [25]:
df_sg["genres"]

88310            Action,Casual,Indie,Simulation,Strategy
88311                    Free to Play,Indie,RPG,Strategy
88312        Casual,Free to Play,Indie,Simulation,Sports
88313                            Action,Adventure,Casual
88314                         Sports,Indie,Casual,Action
                               ...
120440                  Casual,Indie,Simulation,Strategy
120441                             Casual,Indie,Strategy
120442                           Indie,Racing,Simulation
120443                                      Casual,Indie
120444    Adventure,Action,Indie,Simulation,Early Access
Name: genres, Length: 31995, dtype: object

--

    ahora podemos borrar la columna tags ya que el unico motivo por el que la conservaba era para rellenar genres

In [26]:
del df_sg["tags"]

In [27]:
etf.data_review(df_sg)

Total rows:  31995

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31995,0.00,0
1,app_name,[<class 'str'>],100.00,31995,0.00,0
2,title,[<class 'str'>],100.00,31995,0.00,0
3,url,[<class 'str'>],100.00,31995,0.00,0
4,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29930,6.45,2065
5,reviews_url,"[<class 'str'>, <class 'NoneType'>]",100.00,31994,0.00,1
6,price,"[<class 'float'>, <class 'str'>, <class 'NoneT...",95.76,30640,4.24,1355
7,early_access,[<class 'float'>],100.00,31995,0.00,0
8,id,[<class 'float'>],100.00,31994,0.00,1
9,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28725,10.22,3270

    ya contamos con 0 nulls en genres

##   rellenar app_name con title

    esto habia que hacerlo pero con el borrado de los duplicados se borraron casi todos y con el borrar los que no tenian valores en ninguna de las 2 columnas no quedo ni uno pero la funcion ya la hice

In [28]:
df_sg = backup

In [29]:
# reemplazar los valores de app_name con los valores de title cuando app_name es igual a "None"
df_sg["app_name"] = np.where(df_sg["app_name"] == "None", df_sg["title"], df_sg["app_name"])

In [30]:
df_sg["app_name"].sample(15)

115636                                     Wings of Vi Demo
101581                      Bomber Crew Official Soundtrack
92967     Batman™: Arkham Knight - Prototype Batmobile Skin
95808                                     Bridge to Nowhere
102522                           Choice of Rebels: Uprising
101735                                                  FYD
102367                                        Rasty Pelican
97858     Fantasy Grounds - B04 The Cave Beast Hoard (PF...
100700                Armored Warfare - BMPT General’s Pack
95941               Rocket Riot - Soundtrack by SonicPicnic
100712                 Fishing Planet: Grand Smallie's Pack
116435           Rocksmith® 2014 – The Killers - “Runaways”
96972                                       SpaceJourney VR
111343                 PlayClaw 5 - Chroma Key for overlays
107410    DARIUSBURST Chronicle Saviours - Varth: Operat...
Name: app_name, dtype: object

##  ahora podemos dropear title

In [31]:
del df_sg["title"]

## ahora asignaremos lo dtype correspondientes a cada campo

In [33]:
backup = df_sg.copy()

In [ ]:
df_sg  = backup

In [43]:
etf.data_review(df_sg)

Total rows:  31995

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31995,0.00,0
1,app_name,[<class 'str'>],100.00,31995,0.00,0
2,url,[<class 'str'>],100.00,31995,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29930,6.45,2065
4,reviews_url,"[<class 'str'>, <class 'NoneType'>]",100.00,31994,0.00,1
5,price,[<class 'float'>],100.00,31995,0.00,0
6,early_access,[<class 'float'>],100.00,31995,0.00,0
7,id,[<class 'float'>],100.00,31994,0.00,1
8,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28725,10.22,3270

### "price" str a float

In [35]:
df_sg["price"] = df_sg["price"].astype(str)

In [37]:
lista = etf.valores_no_numericos(df_sg["price"])# esta funcion la hice en ETL_funciones
print(lista) #lista con todos los valores que no pueden ser transformados a numericos

['Free To Play', 'Free to Play', 'None', 'Free', 'Free Demo', 'Play for Free!', 'Install Now', 'Play WARMACHINE: Tactics Demo', 'Free Mod', 'Install Theme', 'Third-party', 'Play Now', 'Free HITMAN™ Holiday Pack', 'Play the Demo', 'Starting at $499.00', 'Starting at $449.00', 'Free to Try', 'Free Movie', 'Free to Use']

In [38]:
#quito de la lista estos 2 valores que no se podian convertir a numerico pero contiene su precio numerico en la cadena
lista.remove("Starting at $499.00")
lista.remove('Starting at $449.00')

In [39]:
#remplazo estas 2 cadenas por sus valores numericos
df_sg["price"] = df_sg["price"].replace("Starting at $499.00","499") 
df_sg["price"] = df_sg["price"].replace("Starting at $449.00","449")

In [40]:
lista #ahora la lista solo contiene valores que podria reemplazar por precio 0

['Free To Play',
 'Free to Play',
 'None',
 'Free',
 'Free Demo',
 'Play for Free!',
 'Install Now',
 'Play WARMACHINE: Tactics Demo',
 'Free Mod',
 'Install Theme',
 'Third-party',
 'Play Now',
 'Free HITMAN™ Holiday Pack',
 'Play the Demo',
 'Free to Try',
 'Free Movie',
 'Free to Use']

    yo asumi que todos estos valores hacer referencia a un precio 0 aunque "Third-party"  podria ser una excepecion

In [41]:
df_sg["price"] = df_sg["price"].replace(lista,"0")#cambio los valores string que equivalen a precio 0 por "0"

In [42]:
df_sg["price"] = df_sg["price"].astype(float)#cambiando el dtype a float

In [44]:
etf.data_review(df_sg)

Total rows:  31995

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31995,0.00,0
1,app_name,[<class 'str'>],100.00,31995,0.00,0
2,url,[<class 'str'>],100.00,31995,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29930,6.45,2065
4,reviews_url,"[<class 'str'>, <class 'NoneType'>]",100.00,31994,0.00,1
5,price,[<class 'float'>],100.00,31995,0.00,0
6,early_access,[<class 'float'>],100.00,31995,0.00,0
7,id,[<class 'float'>],100.00,31994,0.00,1
8,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28725,10.22,3270

    ahora nos dice 0 valores nulos y como pudimos hacer las conversiones de tipo de dato podemos estar seguros

In [52]:
df_sg.sample(10) #ejecute varias veces por si acaso

,genres,app_name,url,release_date,reviews_url,price,early_access,id,developer
97902,"Casual,Strategy",Building the Great Wall of China 2,http://store.steampowered.com/app/497570/Build...,2017-04-25,http://steamcommunity.com/app/497570/reviews/?...,0.00,0.0,497570.0,Nordcurrent
97746,"Indie,RPG",Cosmic Star Heroine,http://store.steampowered.com/app/256460/Cosmi...,2017-04-11,http://steamcommunity.com/app/256460/reviews/?...,14.99,0.0,256460.0,Zeboyd Games
112926,"Indie,RPG,Strategy",Fantasy Grounds - Icewind Dale Portrait Pack,http://store.steampowered.com/app/425020/Fanta...,2015-12-11,http://steamcommunity.com/app/425020/reviews/?...,1.99,0.0,425020.0,"SmiteWorks USA, LLC"
93262,"Action,Indie,Strategy",Battle of Empires : 1914-1918 - German campaign,http://store.steampowered.com/app/340640/Battl...,2015-12-11,http://steamcommunity.com/app/340640/reviews/?...,4.99,0.0,340640.0,Great War Team
119132,Simulation,Train Simulator: DB ICE 1 EMU Add-On,http://store.steampowered.com/app/208377/Train...,2012-08-03,http://steamcommunity.com/app/208377/reviews/?...,7.99,0.0,208377.0,Dovetail Games
116525,Adventure,Gabriel Knight: Sins of the Fathers 20th Anniv...,http://store.steampowered.com/app/262000/Gabri...,2014-10-15,http://steamcommunity.com/app/262000/reviews/?...,19.99,0.0,262000.0,"Phoenix Online Studios,Pinkerton Road Studio"
107693,"Adventure,Indie,Early Access",Ruction: The Golden Tablet,http://store.steampowered.com/app/496820/Ructi...,2017-01-31,http://steamcommunity.com/app/496820/reviews/?...,9.99,1.0,496820.0,Scott Richey
90912,"Adventure,Casual,Indie,RPG",Millennium 3 - Cry Wolf,http://store.steampowered.com/app/298830/Mille...,2014-08-29,http://steamcommunity.com/app/298830/reviews/?...,5.99,0.0,298830.0,Aldorlea Games
115622,"Action,Adventure",Disney•Pixar Finding Nemo,http://store.steampowered.com/app/331450/Disne...,2003-05-11,http://steamcommunity.com/app/331450/reviews/?...,9.99,0.0,331450.0,KnowWonder
99520,"Casual,Simulation",Rocksmith® 2014 Edition – Remastered – Variety...,http://store.steampowered.com/app/637724/Rocks...,2017-08-29,http://steamcommunity.com/app/637724/reviews/?...,9.99,0.0,637724.0,Ubisoft - San Francisco

## "id" str a int

In [53]:
df_sg["id"] = df_sg["id"].astype("str")#cambio la columna a str ya que me parece mucho mas facil manejar manejar asi los valores erroneos

In [54]:
lista = etf.valores_no_numericos(df_sg["id"])#ahora que los valores son str cualquier null o nan se transforma en su cadena lo que me permite llamar a mi funcion
lista #los valores en la columna "id" que no pueden ser convertidos a int

['nan']

In [55]:
mask = (df_sg["id"] == "nan")#filtro que selecciona solo las columnas con "id" con valor "None"
df_sg = df_sg[~mask]# ~ sirve para dropear , aca estamos dropeando las filas en que tienen id none

In [56]:
backup = df_sg.copy()#copia de seguridad de el dataframe llegado a esta parte

In [58]:
df_sg = backup # restaura la ultima copia de el df

In [59]:
etf.data_review(df_sg)

Total rows:  31994

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31994,0.00,0
1,app_name,[<class 'str'>],100.00,31994,0.00,0
2,url,[<class 'str'>],100.00,31994,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29929,6.45,2065
4,reviews_url,[<class 'str'>],100.00,31994,0.00,0
5,price,[<class 'float'>],100.00,31994,0.00,0
6,early_access,[<class 'float'>],100.00,31994,0.00,0
7,id,[<class 'str'>],100.00,31994,0.00,0
8,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28724,10.22,3270

In [60]:
df_sg["id"] = df_sg["id"].astype(float)#transformo a float para no tener que manejar los que poseen parte decimal ej".0 "y solo cargarlo a datos numericos
df_sg["id"] = df_sg["id"].astype(int)#para luego pasarlos a int como tenia planeado

    habia un solo nulo en id por lo cual lo borre

### "early-access"

    a early-access la podria transformar a boolean o int pero no creo usarla por lo que de momento voy a borrarla

In [61]:
df_sg["early_access"].value_counts()# tiene valores de 0 y 1 haciendo referencia aa true o false

early_access
0.0    30047
1.0     1947
Name: count, dtype: int64

In [ ]:
#df_sg["early_access"] = df_sg["early_access"].astype(bool)# transformamos a boolean
# esto no lo voy a ejecutar debido a que decidi borrar la columna

In [62]:
del df_sg["early_access"]

In [63]:
etf.data_review(df_sg)

Total rows:  31994

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31994,0.00,0
1,app_name,[<class 'str'>],100.00,31994,0.00,0
2,url,[<class 'str'>],100.00,31994,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29929,6.45,2065
4,reviews_url,[<class 'str'>],100.00,31994,0.00,0
5,price,[<class 'float'>],100.00,31994,0.00,0
6,id,[<class 'int'>],100.00,31994,0.00,0
7,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28724,10.22,3270

## Dataframe resultante
|columna|tipo|
|-------|----|
|publisher     | fue borrada|
|genres        | str(list)|
|app_name      | str|
|title         | str|
|url           | str|
|release_date  | str|
|tags          | fue borrada|
|reviews_url   | str|
|specs         | fue borrada|
|price         | float|
|early_access  | fue borrada|
|id            | int|
|developer |str|

## guardando el df procesado en un archivo parquet

In [64]:
df_sg.to_parquet(r"../app/processed_data/steam_games.parquet")#dentro de la carpeta de la api

<hr>

#########################################################################

# user_review.json

In [ ]:
# user_review.jsonsa

In [97]:
reviews = []

with open(r"../Datasets/user_reviews.json/australian_user_reviews.json", encoding='utf-8') as f:
    for line in f.readlines():
        reviews.append(ast.literal_eval(line))
df_ur = pd.DataFrame(reviews)

    transformo las siguiente columna a tipo str ya que es dificil manejar listas y tira errores en bastantes metodos de pandas

In [58]:
df_ur["reviews"] = df_ur["reviews"].astype(str)

In [59]:
etf.data_review(df_ur)

Total rows:  25799

Total full null rows:  0

Total duplicated rows: 313

     Column            dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0   user_id  [<class 'str'>]      100.0        25799     0.0         0
1  user_url  [<class 'str'>]      100.0        25799     0.0         0
2   reviews  [<class 'str'>]      100.0        25799     0.0         0

## valores nulos

In [60]:
df_ur["reviews"].sample(5)

660      [{'funny': '', 'posted': 'Posted February 27, ...
6234     [{'funny': '', 'posted': 'Posted December 31, ...
20107    [{'funny': '', 'posted': 'Posted October 25, 2...
19484    [{'funny': '', 'posted': 'Posted January 1, 20...
7940     [{'funny': '', 'posted': 'Posted August 24, 20...
Name: reviews, dtype: object

In [90]:
mask = df_ur["reviews"] == "[]"

In [91]:
df_ur[mask]

,user_id,user_url,reviews
62,gdxsd,http://steamcommunity.com/id/gdxsd,[]
83,76561198094224872,http://steamcommunity.com/profiles/76561198094...,[]
1047,76561198021575394,http://steamcommunity.com/profiles/76561198021...,[]
3954,cmuir37,http://steamcommunity.com/id/cmuir37,[]
5394,Jaysteeny,http://steamcommunity.com/id/Jaysteeny,[]
6135,ML8989,http://steamcommunity.com/id/ML8989,[]
7583,76561198079215291,http://steamcommunity.com/profiles/76561198079...,[]
7952,76561198079342142,http://steamcommunity.com/profiles/76561198079...,[]
9894,76561198061996985,http://steamcommunity.com/profiles/76561198061...,[]
10381,76561198108286351,http://steamcommunity.com/profiles/76561198108...,[]
10560,CallTripleZero,http://steamcommunity.com/id/CallTripleZero,[]
11316,Priceless612,http://steamcommunity.com/id/Priceless612,[]
11320,diabolical666,http://steamcommunity.com/id/diabolical666,[]
11549,DrScottnik,http://steamcommunity.com/id/DrScottnik,[]
12865,76561198110176420,http://steamcommunity.com/profiles/76561198110...,[]
13242,jojoPL1987,http://steamcommunity.com/id/jojoPL1987,[]
13698,Kylee_Kylie,http://steamcommunity.com/id/Kylee_Kylie,[]
15949,_samie,http://steamcommunity.com/id/_samie,[]
15990,FifthExclamation,http://steamcommunity.com/id/FifthExclamation,[]
16013,sbenji,http://steamcommunity.com/id/sbenji,[]
16546,SpatialWheel14,http://steamcommunity.com/id/SpatialWheel14,[]
17022,76561198065238937,http://steamcommunity.com/profiles/76561198065...,[]
18201,76561198071075080,http://steamcommunity.com/profiles/76561198071...,[]
21386,76561198063489150,http://steamcommunity.com/profiles/76561198063...,[]
22705,thecommunistbear,http://steamcommunity.com/id/thecommunistbear,[]
23785,76561198085883839,http://steamcommunity.com/profiles/76561198085...,[]
24911,76561198100396147,http://steamcommunity.com/profiles/76561198100...,[]
25001,76561198102423654,http://steamcommunity.com/profiles/76561198102...,[]

    estas son todas las reviews con columna reviews nulos para el caso de analisis de sentimiento las borrare pero podria servir para normalizar user id o user url en user_items

In [100]:
pd.json_normalize(df_ur["reviews"])#al hacer json_normalize nos  devuelve de esta forma un df de diccionarios

,0,1,2,3,4,5,6,7,8,9
0,"{'funny': '', 'posted': 'Posted November 5, 20...","{'funny': '', 'posted': 'Posted July 15, 2011....","{'funny': '', 'posted': 'Posted April 21, 2011...",None,None,None,None,None,None,None
1,"{'funny': '', 'posted': 'Posted June 24, 2014....","{'funny': '', 'posted': 'Posted September 8, 2...","{'funny': '', 'posted': 'Posted November 29, 2...",None,None,None,None,None,None,None
2,"{'funny': '', 'posted': 'Posted February 3.', ...","{'funny': '', 'posted': 'Posted December 4, 20...","{'funny': '', 'posted': 'Posted November 3, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...",None,None,None,None
3,"{'funny': '', 'posted': 'Posted October 14, 20...","{'funny': '', 'posted': 'Posted July 28, 2012....","{'funny': '', 'posted': 'Posted June 2, 2012.'...","{'funny': '', 'posted': 'Posted June 29, 2014....","{'funny': '', 'posted': 'Posted November 22, 2...","{'funny': '', 'posted': 'Posted February 23, 2...",None,None,None,None
4,"{'funny': '3 people found this review funny', ...","{'funny': '1 person found this review funny', ...","{'funny': '2 people found this review funny', ...","{'funny': '', 'posted': 'Posted July 11, 2013....",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
25794,"{'funny': '', 'posted': 'Posted May 31.', 'las...",None,None,None,None,None,None,None,None,None
25795,"{'funny': '', 'posted': 'Posted June 17.', 'la...",None,None,None,None,None,None,None,None,None
25796,"{'funny': '1 person found this review funny', ...",None,None,None,None,None,None,None,None,None
25797,"{'funny': '', 'posted': 'Posted July 21.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 8.', 'las...",None,None,None,None,None,None
25798,"{'funny': '1 person found this review funny', ...","{'funny': '', 'posted': 'Posted July 20.', 'la...","{'funny': '', 'posted': 'Posted July 2.', 'las...",None,None,None,None,None,None,None

In [99]:
pd.json_normalize(df_ur["reviews"][0])# al hacer json_normalize en cada fila nos devuelve el siguiente dataframe que es lo que me interesa

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...

### bucle para obtener todos los diccionarios en un dataframe llamaado df_sentimientos

al hacer esto perdemos quien hizo la review cosa que no nos interesa pero conservamos el id de el juego por lo cual sabremos lo que necesitamos

In [116]:
df_sentimientos = pd.DataFrame(columns=["funny","posted","last_edited","item_id","helpful","recommend","review"])
cont = 0
for i in df_ur["reviews"]:
    cont += 1
    var = pd.json_normalize(i)
    # Supongamos que df1 y df2 son tus DataFrames con las mismas columnas
    df_sentimientos = pd.concat([df_sentimientos, var], axis=0)

df_sentimientos#tardo 2min 40s

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
0,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...
2,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
3,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
0,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
1,,Posted July 20.,,730,No ratings yet,True,:D
2,,Posted July 2.,,440,No ratings yet,True,so much fun :D

### vamos a dejar solo las columnas posted , item_id ,reccomend y  review

In [123]:
del df_sentimientos["funny"]
del df_sentimientos["helpful"]
del df_sentimientos["last_edited"]
df_sentimientos

,posted,item_id,recommend,review
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...
0,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
1,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...
...,...,...,...,...
2,Posted July 10.,70,True,a must have classic from steam definitely wort...
3,Posted July 8.,362890,True,this game is a perfect remake of the original ...
0,Posted July 3.,273110,True,had so much fun plaing this and collecting res...
1,Posted July 20.,730,True,:D
2,Posted July 2.,440,True,so much fun :D

    asi nos quedaria el dataframe que usaremos para analisis  de sentimientos posted se podria borrar pero pienso dejarla por el momento

In [128]:
etf.data_review(df_sentimientos)

Total rows:  58424

Total full null rows:  0

Total duplicated rows: 0

      Column             dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0     posted   [<class 'str'>]      100.0        58424     0.0         0
1    item_id   [<class 'str'>]      100.0        58424     0.0         0
2  recommend  [<class 'bool'>]      100.0        58424     0.0         0
3     review   [<class 'str'>]      100.0        58424     0.0         0

In [127]:
df_sentimientos.drop_duplicates(inplace=True)

## df sentimientos a parquet

In [129]:
df_sentimientos.to_parquet(r"../app/processed_data/reviews_dict.parquet")

----------------------------------------------------------

# volviendo a trabajar en user_reviews

    ahora que separamos en un df aparte lo que nos interesaba podemos borrar la columna reviews de este df y solo quedarian columnas que hacen referencia aa identificadores de usuario que conservaremos en un nuevo archivo

In [131]:
df_ur["reviews"]

0        [{'funny': '', 'posted': 'Posted November 5, 2...
1        [{'funny': '', 'posted': 'Posted June 24, 2014...
2        [{'funny': '', 'posted': 'Posted February 3.',...
3        [{'funny': '', 'posted': 'Posted October 14, 2...
4        [{'funny': '3 people found this review funny',...
                               ...
25794    [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795    [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796    [{'funny': '1 person found this review funny',...
25797    [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798    [{'funny': '1 person found this review funny',...
Name: reviews, Length: 25799, dtype: object

In [132]:
del df_ur["reviews"]

In [133]:
etf.data_review(df_ur)

Total rows:  25799

Total full null rows:  0

Total duplicated rows: 314

     Column            dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0   user_id  [<class 'str'>]      100.0        25799     0.0         0
1  user_url  [<class 'str'>]      100.0        25799     0.0         0

## valores duplicados

In [134]:
df_ur.drop_duplicates(inplace=True)

## dataframe resultante
|columna |tipo|
|--------|----|
|user_id | str|
|user_url| str|

## guardando el df procesado en un archivo parquet

In [135]:
df_ur.to_parquet(r"../app/processed_data/user_data.parquet")#dentro de la carpeta de la api

<hr>

#  users_items.json

In [4]:
items = []

with open(r'../Datasets/users_items.json/australian_users_items.json', 'r', encoding='utf-8') as f:
    for line in f.readlines():
        items.append(ast.literal_eval(line))
df_ui = pd.DataFrame(items)

In [ ]:
df_ui["items"] = df_ui["items"].astype(str)#convertirmos a str para poder verificar duplicados

In [ ]:
etf.data_review(df_ui)

In [ ]:
### valores nulos

### valores nulos

In [ ]:
vacia = df_ui['items'].apply(len) == 0 #filtro que vamos a usar para borrar estas listas vacias

In [ ]:
df_ui = df_ui[~vacia]#borramos los las listas vacias

### valores duplicados

In [ ]:
df_ui.drop_duplicates(inplace=True)

## dataframe resultante

|columna|tipo|
|-------|----|
|user_id|str|
|item_counts|int|
|steam_id|int|
|user_url|str|
|item|list|

## guardando el df procesado en un archivo parquet

In [ ]:
df_ui.to_parquet(r"../app/processed_data/users_items.parquet")#dentro de la carpeta de la api #  se pasa  el peso permitido por git hub por 16 mb pesando 116