In [51]:
import ETL_functions as etf
import numpy as np
import pandas as pd
import ast

## esto borra las columnas que no tengan ni app_name ni title
    ya que aunque se podria rellenar con datos de user_items solo son 2 registros por lo que no me tomare el trabajo de normalizar

In [62]:
mask = ((df_sg["title"] == "None") & (df_sg["app_name"] == "None")) #filtro donde title y app_name tengan el valor de "None" (es una string debido a que los transforme anterior mente)
df_sg = df_sg[~mask]# ~ obtenemos la parte contraria de el filtro ,y los seteamos al dataframe simulando un dropeo

    esto solo borro 2 registros que no tenian utilidad ya que una app que no tiene ningun nombre no se puede recomendar

## esto borra las filas que no tengan genres ni tags
    ya que si tienen aunque si no cuenta con valor en genres no podre reemplazar los datos por los de tags que forman parte de genres

In [63]:
mask = (df_sg["genres"] == "None") & (df_sg["tags"] == "None")# #filtro donde genres y tags tengan el valor de "None" (es una string debido a que los transforme anterior mente)
df_sg = df_sg[~mask]# invertimos el resultado de el filtro para obtener las que no tiene valor == "None"

    esto borro 7 registros que no tenian ningun tipo de etiqueta o genero por el cual se pudieran recomendar.por lo que me parecio correcto borrar (en EDA conclui que hay algunos tags que forman parte de genero y que specs no)

    la siguiente linea borra los corchetes las comillas y los espacios entre los valores volviendolos un str separado por , que forman parte del string

In [68]:
df_sg["genres"] = df_sg["genres"].str.strip("[]").str.replace(" '","").str.replace("'","")

df_sg["genres"]

88310         Action,Casual,Indie,Simulation,Strategy
88311                 Free to Play,Indie,RPG,Strategy
88312     Casual,Free to Play,Indie,Simulation,Sports
88313                         Action,Adventure,Casual
88314                                            None
                             ...
120440               Casual,Indie,Simulation,Strategy
120441                          Casual,Indie,Strategy
120442                        Indie,Racing,Simulation
120443                                   Casual,Indie
120444                                           None
Name: genres, Length: 31995, dtype: object

    hacemos lo mismo con tags

In [69]:
df_sg["tags"] = df_sg["tags"].str.strip("[]").str.replace(" '","").str.replace("'","")

df_sg["tags"]

88310               Strategy,Action,Indie,Casual,Simulation
88311     Free to Play,Strategy,Indie,RPG,Card Game,Trad...
88312     Free to Play,Simulation,Sports,Casual,Indie,Mu...
88313                               Action,Adventure,Casual
88314                            Action,Indie,Casual,Sports
                                ...
120440                     Strategy,Indie,Casual,Simulation
120441                                Strategy,Indie,Casual
120442                              Indie,Simulation,Racing
120443    Indie,Casual,Puzzle,Singleplayer,Atmospheric,R...
120444    Early Access,Adventure,Indie,Action,Simulation,VR
Name: tags, Length: 31995, dtype: object

    usamos la funcion creada en el archivo ETL_functions para sacar los elementos unicos de estas columnas

In [70]:
generos = etf.valores_lista(df_sg,"genres") #obtengo todos los valores unicos de genres
tags = etf.valores_lista(df_sg,"tags")      #obtengo todos  los valores unicos de tags
elementos_comunes = list(set(generos) & set(tags)) #obtengo la interseccion entre esos valores

elementos_comunes#esta es la lista de los valores que sabemos que estan en genero que tambien forman parte de tags

['Indie',
 'Video Production',
 'Software Training',
 'Adventure',
 'Utilities',
 'Audio Production',
 'None',
 'Photo Editing',
 'Action',
 'Web Publishing',
 'Racing',
 'Massively Multiplayer',
 'Early Access',
 'Free to Play',
 'Casual',
 'RPG',
 'Sports',
 'Simulation',
 'Strategy',
 'Education']

    estos son los valores que comparten tanto generos como tags podemos notar que se encuentra el valor None(lo borraremos) y algunos valores que podrian no considerarse generos pero los dejaremos ya que podria ser que dentro de laa plataforma si se consideren como generos

In [71]:
elementos_comunes.remove('None')# removemos None de esta lista de elementos en comun

In [72]:
elementos_comunes

['Indie',
 'Video Production',
 'Software Training',
 'Adventure',
 'Utilities',
 'Audio Production',
 'Photo Editing',
 'Action',
 'Web Publishing',
 'Racing',
 'Massively Multiplayer',
 'Early Access',
 'Free to Play',
 'Casual',
 'RPG',
 'Sports',
 'Simulation',
 'Strategy',
 'Education']

### antes de rellenar genres

In [73]:
df_sg["genres"]

88310         Action,Casual,Indie,Simulation,Strategy
88311                 Free to Play,Indie,RPG,Strategy
88312     Casual,Free to Play,Indie,Simulation,Sports
88313                         Action,Adventure,Casual
88314                                            None
                             ...
120440               Casual,Indie,Simulation,Strategy
120441                          Casual,Indie,Strategy
120442                        Indie,Racing,Simulation
120443                                   Casual,Indie
120444                                           None
Name: genres, Length: 31995, dtype: object

    rellenamos genres

In [74]:
etf.rellenar_comunes(df_sg,"genres",df_sg,"tags",elementos_comunes)

'fin de ejecucion'

### despues de rellenar genres

In [75]:
df_sg["genres"]

88310            Action,Casual,Indie,Simulation,Strategy
88311                    Free to Play,Indie,RPG,Strategy
88312        Casual,Free to Play,Indie,Simulation,Sports
88313                            Action,Adventure,Casual
88314                         Casual,Action,Sports,Indie
                               ...
120440                  Casual,Indie,Simulation,Strategy
120441                             Casual,Indie,Strategy
120442                           Indie,Racing,Simulation
120443                                      Casual,Indie
120444    Indie,Simulation,Action,Early Access,Adventure
Name: genres, Length: 31995, dtype: object

--

    ahora podemos borrar la columna tags ya que el unico motivo por el que la conservaba era para rellenar genres

In [76]:
del df_sg["tags"]

In [77]:
etf.data_review(df_sg)

Total rows:  31995

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31995,0.00,0
1,app_name,[<class 'str'>],100.00,31995,0.00,0
2,title,[<class 'str'>],100.00,31995,0.00,0
3,url,[<class 'str'>],100.00,31995,0.00,0
4,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29930,6.45,2065
5,reviews_url,"[<class 'str'>, <class 'NoneType'>]",100.00,31994,0.00,1
6,price,"[<class 'float'>, <class 'str'>, <class 'NoneT...",95.76,30640,4.24,1355
7,early_access,[<class 'float'>],100.00,31995,0.00,0
8,id,[<class 'float'>],100.00,31994,0.00,1
9,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28725,10.22,3270

    ya contamos con 0 nulls en genres

##   rellenar app_name con title

    esto habia que hacerlo pero con el borrado de los duplicados se borraron casi todos y con el borrar los que no tenian valores en ninguna de las 2 columnas no quedo ni uno pero la funcion ya la hice

In [78]:
# reemplazar los valores de app_name con los valores de title cuando app_name es igual a "None"
df_sg["app_name"] = np.where(df_sg["app_name"] == "None", df_sg["title"], df_sg["app_name"])

In [79]:
df_sg["app_name"].sample(15)

90873                    The Journey Down: Chapter Two
100151            Deadbeat Heroes: Collector's Upgrade
116872                       DW8XLCE - BASE THEME PACK
94981           Car Mechanic Simulator 2015 - Maserati
115181                               Reboot Soundtrack
99430     Fantasy Grounds - Fifth Edition Options (5E)
99264                                    Dimension 404
91088                                        TesserAct
100008             Duel of Summoners - Collectors Pack
91829                               Lovely Planet Demo
105697                           Steve Byrne: Champion
96278               Creeper World: Anniversary Edition
110739                                   Dead End Road
89067                                 The Sims™ 3 Pets
99630                                       Find this!
Name: app_name, dtype: object

##  ahora podemos dropear title

In [80]:
del df_sg["title"]

    ya que ya la utilizamos para obtener los valores que queriamos

## ahora asignaremos lo dtype correspondientes a cada campo

### "price" str a float

In [84]:
df_sg["price"] = df_sg["price"].astype(str)

In [85]:
lista = etf.valores_no_numericos(df_sg["price"])# esta funcion la hice en ETL_funciones
print(lista) #lista con todos los valores que no pueden ser transformados a numericos

['Free To Play', 'Free to Play', 'None', 'Free', 'Free Demo', 'Play for Free!', 'Install Now', 'Play WARMACHINE: Tactics Demo', 'Free Mod', 'Install Theme', 'Third-party', 'Play Now', 'Free HITMAN™ Holiday Pack', 'Play the Demo', 'Starting at $499.00', 'Starting at $449.00', 'Free to Try', 'Free Movie', 'Free to Use']

In [86]:
#quito de la lista estos 2 valores que no se podian convertir a numerico pero contiene su precio numerico en la cadena
lista.remove("Starting at $499.00")
lista.remove('Starting at $449.00')

In [87]:
#remplazo estas 2 cadenas por sus valores numericos
df_sg["price"] = df_sg["price"].replace("Starting at $499.00","499") 
df_sg["price"] = df_sg["price"].replace("Starting at $449.00","449")

In [88]:
lista #ahora la lista solo contiene valores que podria reemplazar por precio 0

['Free To Play',
 'Free to Play',
 'None',
 'Free',
 'Free Demo',
 'Play for Free!',
 'Install Now',
 'Play WARMACHINE: Tactics Demo',
 'Free Mod',
 'Install Theme',
 'Third-party',
 'Play Now',
 'Free HITMAN™ Holiday Pack',
 'Play the Demo',
 'Free to Try',
 'Free Movie',
 'Free to Use']

    yo asumi que todos estos valores hacer referencia a un precio 0 aunque "Third-party"  podria ser una excepecion

In [89]:
df_sg["price"] = df_sg["price"].replace(lista,"0")#cambio los valores string que equivalen a precio 0 por "0"

In [90]:
df_sg["price"] = df_sg["price"].astype(float)#cambiando el dtype a float

In [91]:
etf.data_review(df_sg)

Total rows:  31995

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31995,0.00,0
1,app_name,[<class 'str'>],100.00,31995,0.00,0
2,url,[<class 'str'>],100.00,31995,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29930,6.45,2065
4,reviews_url,"[<class 'str'>, <class 'NoneType'>]",100.00,31994,0.00,1
5,price,[<class 'float'>],100.00,31995,0.00,0
6,early_access,[<class 'float'>],100.00,31995,0.00,0
7,id,[<class 'float'>],100.00,31994,0.00,1
8,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28725,10.22,3270

    ahora nos dice 0 valores nulos y como pudimos hacer las conversiones de tipo de dato podemos estar seguros

In [92]:
df_sg.sample(10) #ejecute varias veces por si acaso

,genres,app_name,url,release_date,reviews_url,price,early_access,id,developer
103750,"Indie,RPG,Strategy",Fantasy Grounds - Islands of Plunder: Scourge ...,http://store.steampowered.com/app/718390/Fanta...,2017-09-25,http://steamcommunity.com/app/718390/reviews/?...,5.99,0.0,718390.0,"SmiteWorks USA, LLC"
113281,"Adventure,Indie",Quatro Luzes,http://store.steampowered.com/app/415980/Quatr...,2015-11-15,http://steamcommunity.com/app/415980/reviews/?...,5.99,0.0,415980.0,Jardel Elias
102541,"Adventure,RPG,Strategy",幽冥路（The Way to Nether）,http://store.steampowered.com/app/709060/The_W...,2017-11-09,http://steamcommunity.com/app/709060/reviews/?...,0.00,0.0,709060.0,Heluo Studio
88408,Strategy,"Warhammer® 40,000: Dawn of War® - Dark Crusade",http://store.steampowered.com/app/4580/Warhamm...,2006-10-09,http://steamcommunity.com/app/4580/reviews/?br...,12.99,0.0,4580.0,Relic Entertainment
111162,"Indie,RPG",Celestian Tales: Old North - Howl of the Ravager,http://store.steampowered.com/app/462610/Celes...,2016-06-06,http://steamcommunity.com/app/462610/reviews/?...,4.99,0.0,462610.0,Ekuator Games
110305,"Action,Adventure,Casual,Indie,Strategy",Genius Greedy Mouse,http://store.steampowered.com/app/485640/Geniu...,2016-08-12,http://steamcommunity.com/app/485640/reviews/?...,4.99,0.0,485640.0,"Space Fractal,TempleTiger"
91527,"Action,Adventure",Raid Mode: Throwback Map Pack,http://store.steampowered.com/app/320372/Raid_...,2015-02-24,http://steamcommunity.com/app/320372/reviews/?...,4.99,0.0,320372.0,Capcom
92059,"RPG,Simulation,Strategy",Tropico 5 - Espionage,http://store.steampowered.com/app/284441/Tropi...,2015-05-28,http://steamcommunity.com/app/284441/reviews/?...,7.99,0.0,284441.0,Haemimont Games
104292,"Indie,RPG,Strategy",Fantasy Grounds - The Malefactor Class: Revise...,http://store.steampowered.com/app/704620/Fanta...,2017-08-30,http://steamcommunity.com/app/704620/reviews/?...,3.99,0.0,704620.0,"SmiteWorks USA, LLC"
96373,"Animation &amp; Modeling,Design &amp; Illustra...",Marmoset Toolbag 3,http://store.steampowered.com/app/550060/Marmo...,2016-11-25,http://steamcommunity.com/app/550060/reviews/?...,189.00,0.0,550060.0,Marmoset LLC

In [99]:
etf.data_review(df_sg)

Total rows:  31994

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31994,0.00,0
1,app_name,[<class 'str'>],100.00,31994,0.00,0
2,url,[<class 'str'>],100.00,31994,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29929,6.45,2065
4,reviews_url,[<class 'str'>],100.00,31994,0.00,0
5,price,[<class 'float'>],100.00,31994,0.00,0
6,early_access,[<class 'float'>],100.00,31994,0.00,0
7,id,[<class 'str'>],100.00,31994,0.00,0
8,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28724,10.22,3270

    habia un solo un nulo en id el cual borre ya que es una cantidad muy pequeña para dedicar tiempo a cooregirla y puede no afectar mucho a los resultados

In [102]:
etf.data_review(df_sg)

Total rows:  31994

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,31994,0.00,0
1,app_name,[<class 'str'>],100.00,31994,0.00,0
2,url,[<class 'str'>],100.00,31994,0.00,0
3,release_date,"[<class 'str'>, <class 'NoneType'>]",93.55,29929,6.45,2065
4,reviews_url,[<class 'str'>],100.00,31994,0.00,0
5,price,[<class 'float'>],100.00,31994,0.00,0
6,id,[<class 'str'>],100.00,31994,0.00,0
7,developer,"[<class 'str'>, <class 'NoneType'>]",89.78,28724,10.22,3270

## Dataframe resultante
|columna|tipo|
|-------|----|
|publisher     | fue borrada|
|genres        | str(list)|
|app_name      | str|
|title         | str|
|url           | str|
|release_date  | str|
|tags          | fue borrada|
|reviews_url   | str|
|specs         | fue borrada|
|price         | float|
|early_access  | fue borrada|
|id            | str|
|developer |str|

## guardando el df procesado en un archivo parquet

In [111]:
df_sg.to_parquet(r"../app/steam_games.parquet")#dentro de la carpeta de la api

<hr>

# user_review.json

    cargo el archivo

In [173]:
reviews = []

with open(r"../Datasets/user_reviews.json/australian_user_reviews.json", encoding='utf-8') as f:
    for line in f.readlines():
        reviews.append(ast.literal_eval(line))
df_ur = pd.DataFrame(reviews)

    transformo las siguiente columna a tipo str ya que es dificil manejar listas y tira errores en bastantes metodos de pandas

In [174]:
df_ur["reviews"] = df_ur["reviews"].astype(str)

In [175]:
etf.data_review(df_ur)

Total rows:  25799

Total full null rows:  0

Total duplicated rows: 313

     Column            dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0   user_id  [<class 'str'>]      100.0        25799     0.0         0
1  user_url  [<class 'str'>]      100.0        25799     0.0         0
2   reviews  [<class 'str'>]      100.0        25799     0.0         0

## valores nulos

    contiene listas vacias lo que significa que no hizo ninguna reviews
    que es diferente a los que hay dentro de estas lista que contiene la review
    que si esa esta vacia significa que no escribio texto pero si hizo una review
    por lo tanto lo dejare

In [176]:
df_ur["reviews"].sample(5)

13158    [{'funny': '', 'posted': 'Posted April 10, 201...
14569    [{'funny': '', 'posted': 'Posted January 24.',...
10846    [{'funny': '1 person found this review funny',...
17244    [{'funny': '', 'posted': 'Posted June 23, 2014...
292      [{'funny': '', 'posted': 'Posted January 21, 2...
Name: reviews, dtype: object

In [177]:
mask = df_ur["reviews"] == "[]"

In [178]:
df_ur[mask]

,user_id,user_url,reviews
62,gdxsd,http://steamcommunity.com/id/gdxsd,[]
83,76561198094224872,http://steamcommunity.com/profiles/76561198094...,[]
1047,76561198021575394,http://steamcommunity.com/profiles/76561198021...,[]
3954,cmuir37,http://steamcommunity.com/id/cmuir37,[]
5394,Jaysteeny,http://steamcommunity.com/id/Jaysteeny,[]
6135,ML8989,http://steamcommunity.com/id/ML8989,[]
7583,76561198079215291,http://steamcommunity.com/profiles/76561198079...,[]
7952,76561198079342142,http://steamcommunity.com/profiles/76561198079...,[]
9894,76561198061996985,http://steamcommunity.com/profiles/76561198061...,[]
10381,76561198108286351,http://steamcommunity.com/profiles/76561198108...,[]
10560,CallTripleZero,http://steamcommunity.com/id/CallTripleZero,[]
11316,Priceless612,http://steamcommunity.com/id/Priceless612,[]
11320,diabolical666,http://steamcommunity.com/id/diabolical666,[]
11549,DrScottnik,http://steamcommunity.com/id/DrScottnik,[]
12865,76561198110176420,http://steamcommunity.com/profiles/76561198110...,[]
13242,jojoPL1987,http://steamcommunity.com/id/jojoPL1987,[]
13698,Kylee_Kylie,http://steamcommunity.com/id/Kylee_Kylie,[]
15949,_samie,http://steamcommunity.com/id/_samie,[]
15990,FifthExclamation,http://steamcommunity.com/id/FifthExclamation,[]
16013,sbenji,http://steamcommunity.com/id/sbenji,[]
16546,SpatialWheel14,http://steamcommunity.com/id/SpatialWheel14,[]
17022,76561198065238937,http://steamcommunity.com/profiles/76561198065...,[]
18201,76561198071075080,http://steamcommunity.com/profiles/76561198071...,[]
21386,76561198063489150,http://steamcommunity.com/profiles/76561198063...,[]
22705,thecommunistbear,http://steamcommunity.com/id/thecommunistbear,[]
23785,76561198085883839,http://steamcommunity.com/profiles/76561198085...,[]
24911,76561198100396147,http://steamcommunity.com/profiles/76561198100...,[]
25001,76561198102423654,http://steamcommunity.com/profiles/76561198102...,[]

    estas son todas las reviews con columna reviews nulos no las borrar ya que estaria borrando la fila y no quiero perder los registros de usuarios que podrian servir para normalizar otros archivos

<hr>

# aqui voy a crear un nuevo archivo para el analysis de sentimientos que contenga la columna reviews 

    esto significa que borrare review de el primer dataframe y dejare solo los datos de usuario para normalizar

In [179]:
reviews = []

with open(r"../Datasets/user_reviews.json/australian_user_reviews.json", encoding='utf-8') as f:
    for line in f.readlines():
        reviews.append(ast.literal_eval(line))
df_ur = pd.DataFrame(reviews)

    volvimos a cargar el archivo ya que para encontrar la manera de procesarlo lo necesito en su formato de lista

In [180]:
pd.json_normalize(df_ur["reviews"])#al hacer json_normalize nos  devuelve de esta forma un df de diccionarios

,0,1,2,3,4,5,6,7,8,9
0,"{'funny': '', 'posted': 'Posted November 5, 20...","{'funny': '', 'posted': 'Posted July 15, 2011....","{'funny': '', 'posted': 'Posted April 21, 2011...",None,None,None,None,None,None,None
1,"{'funny': '', 'posted': 'Posted June 24, 2014....","{'funny': '', 'posted': 'Posted September 8, 2...","{'funny': '', 'posted': 'Posted November 29, 2...",None,None,None,None,None,None,None
2,"{'funny': '', 'posted': 'Posted February 3.', ...","{'funny': '', 'posted': 'Posted December 4, 20...","{'funny': '', 'posted': 'Posted November 3, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...",None,None,None,None
3,"{'funny': '', 'posted': 'Posted October 14, 20...","{'funny': '', 'posted': 'Posted July 28, 2012....","{'funny': '', 'posted': 'Posted June 2, 2012.'...","{'funny': '', 'posted': 'Posted June 29, 2014....","{'funny': '', 'posted': 'Posted November 22, 2...","{'funny': '', 'posted': 'Posted February 23, 2...",None,None,None,None
4,"{'funny': '3 people found this review funny', ...","{'funny': '1 person found this review funny', ...","{'funny': '2 people found this review funny', ...","{'funny': '', 'posted': 'Posted July 11, 2013....",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
25794,"{'funny': '', 'posted': 'Posted May 31.', 'las...",None,None,None,None,None,None,None,None,None
25795,"{'funny': '', 'posted': 'Posted June 17.', 'la...",None,None,None,None,None,None,None,None,None
25796,"{'funny': '1 person found this review funny', ...",None,None,None,None,None,None,None,None,None
25797,"{'funny': '', 'posted': 'Posted July 21.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 8.', 'las...",None,None,None,None,None,None
25798,"{'funny': '1 person found this review funny', ...","{'funny': '', 'posted': 'Posted July 20.', 'la...","{'funny': '', 'posted': 'Posted July 2.', 'las...",None,None,None,None,None,None,None

In [181]:
pd.json_normalize(df_ur["reviews"][0])# al hacer json_normalize en cada fila nos devuelve el siguiente dataframe que es lo que me interesa

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...

    basado en este comportamiento me di cuenta de que lo puedo maanejar a travez de iteraciones y json_normaalizer cada que necesite acceder a sus valores lo que me creara un dataframe dentro de un bucle con la columna que yo le pida metodo que voy a utlilizar en el user_items dado  su gran tamaño y en este caso al ser mucho mas ligero puedo permitirme crear un dataframe a partir de todos estos datos

### bucle para obtener todos los diccionarios en un dataframe llamaado df_sentimientos

al hacer esto perdemos quien hizo la review cosa que no nos interesa pero conservamos el id de el juego

In [182]:
df_sentimientos = pd.DataFrame(columns=["funny","posted","last_edited","item_id","helpful","recommend","review"])

for i in df_ur["reviews"]:
    var = pd.json_normalize(i)
    # Supongamos que df1 y df2 son tus DataFrames con las mismas columnas
    df_sentimientos = pd.concat([df_sentimientos, var], axis=0)

df_sentimientos#tardo 2min 40s

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
0,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...
2,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
3,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
0,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
1,,Posted July 20.,,730,No ratings yet,True,:D
2,,Posted July 2.,,440,No ratings yet,True,so much fun :D

### vamos a dejar solo las columnas posted , item_id ,reccomend y  review

In [183]:
del df_sentimientos["funny"]
del df_sentimientos["helpful"]
del df_sentimientos["last_edited"]
df_sentimientos

,posted,item_id,recommend,review
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...
0,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
1,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...
...,...,...,...,...
2,Posted July 10.,70,True,a must have classic from steam definitely wort...
3,Posted July 8.,362890,True,this game is a perfect remake of the original ...
0,Posted July 3.,273110,True,had so much fun plaing this and collecting res...
1,Posted July 20.,730,True,:D
2,Posted July 2.,440,True,so much fun :D

    asi nos quedaria el dataframe que usaremos para analisis  de sentimientos posted se podria borrar pero pienso dejarla por el momento

In [184]:
etf.data_review(df_sentimientos)

Total rows:  59305

Total full null rows:  0

Total duplicated rows: 881

      Column             dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0     posted   [<class 'str'>]      100.0        59305     0.0         0
1    item_id   [<class 'str'>]      100.0        59305     0.0         0
2  recommend  [<class 'bool'>]      100.0        59305     0.0         0
3     review   [<class 'str'>]      100.0        59305     0.0         0

In [135]:
df_sentimientos.drop_duplicates(inplace=True)

    cabe aclarar que me permiti crear un dataframe que no se conecte de ninguna manera con los datos de los usuarios que lo hicieron ya que esto no se va a utilizar

## df sentimientos a parquet

In [137]:
df_sentimientos.to_parquet(r"../app/reviews_dict.parquet")

<hr>

## vuelvo a cargar el archivo para analisis de sentimientos y crearle una columna con los valores de la tabla de abajo

In [187]:
df_ur = pd.read_parquet(r"../app/reviews_dict.parquet")

In [188]:
from textblob import TextBlob

|valor|representa|
|-----|----------|
|0    |negativo  |
|1    |neutral   |
|2    |positivo  |

    si un review no tiene texto en la parte de comentario sera considerado neutral

In [189]:
# funcion lambda que crea una columna "sentimiento" que en caso de que la review este vacia le setea valor 0 si no guarda en esta columna el valor de la polaridad
df_ur['sentimiento'] = df_ur['review'].apply(lambda x: 1 if x == "" else TextBlob(x).sentiment.polarity)

# 0 negativo si la polaridad es < a 0 , 1 si la polaridad es == 0 de otro modo significa que polaridad es mayor a 0 le damos el valor de 2 para positivo
df_ur['sentimiento'] = df_ur['sentimiento'].apply(lambda x: 0 if x < 0 else (1 if x == 0 else 2))

In [198]:
df_ur

,posted,item_id,recommend,review,sentimiento
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,2
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,2
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,2
0,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,2
1,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,0
...,...,...,...,...,...
2,Posted July 10.,70,True,a must have classic from steam definitely wort...,2
3,Posted July 8.,362890,True,this game is a perfect remake of the original ...,2
0,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,2
1,Posted July 20.,730,True,:D,2
2,Posted July 2.,440,True,so much fun :D,2

In [199]:
df_ur.to_parquet(r"../app/reviews_dict.parquet")

    volvemos a guardar el archivo pero esta vez con la columna de sentimiento

----------------------------------------------------------

# volviendo a trabajar en user_reviews

    vuelvo aa cargar user_reviews por que olvide hacer una copia de el dataframe antes de las modificaciones

In [149]:
reviews = []

with open(r"../Datasets/user_reviews.json/australian_user_reviews.json", encoding='utf-8') as f:
    for line in f.readlines():
        reviews.append(ast.literal_eval(line))
df_ur = pd.DataFrame(reviews)

    ahora que separamos en un df aparte lo que nos interesaba podemos borrar la columna reviews de este df y solo quedarian columnas que hacen referencia aa identificadores de usuario que conservaremos en un nuevo archivo

In [150]:
df_ur["reviews"]

0        [{'funny': '', 'posted': 'Posted November 5, 2...
1        [{'funny': '', 'posted': 'Posted June 24, 2014...
2        [{'funny': '', 'posted': 'Posted February 3.',...
3        [{'funny': '', 'posted': 'Posted October 14, 2...
4        [{'funny': '3 people found this review funny',...
                               ...
25794    [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795    [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796    [{'funny': '1 person found this review funny',...
25797    [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798    [{'funny': '1 person found this review funny',...
Name: reviews, Length: 25799, dtype: object

In [151]:
del df_ur["reviews"]

    borramos reviews ya que lo tenemos en el nuevo archivo que creamos

In [152]:
etf.data_review(df_ur)

Total rows:  25799

Total full null rows:  0

Total duplicated rows: 314

     Column            dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0   user_id  [<class 'str'>]      100.0        25799     0.0         0
1  user_url  [<class 'str'>]      100.0        25799     0.0         0

## valores duplicados

In [153]:
df_ur.drop_duplicates(inplace=True)

## dataframe resultante
|columna |tipo|
|--------|----|
|user_id | str|
|user_url| str|

## guardando el df procesado en un archivo parquet

In [154]:
df_ur.to_parquet(r"../app/user_data.parquet")#dentro de la carpeta de la api

    este archivo solo posee user_id y user url por lo que solo lo conservare en caso de necesitar normalizar algo

<hr>

#  users_items.json

    cargamos el archivo

In [155]:
items = []

with open(r'../Datasets/users_items.json/australian_users_items.json', 'r', encoding='utf-8') as f:
    for line in f.readlines():
        items.append(ast.literal_eval(line))
df_ui = pd.DataFrame(items)

    lo que hice aqui abajo es similar a lo que hice arriba fue una serie de pruebas de como acceder a los valores

In [156]:
df_ui["items"][0]

[{'item_id': '10',
  'item_name': 'Counter-Strike',
  'playtime_forever': 6,
  'playtime_2weeks': 0},
 {'item_id': '20',
  'item_name': 'Team Fortress Classic',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '30',
  'item_name': 'Day of Defeat',
  'playtime_forever': 7,
  'playtime_2weeks': 0},
 {'item_id': '40',
  'item_name': 'Deathmatch Classic',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '50',
  'item_name': 'Half-Life: Opposing Force',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '60',
  'item_name': 'Ricochet',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '70',
  'item_name': 'Half-Life',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '130',
  'item_name': 'Half-Life: Blue Shift',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '300',
  'item_name': 'Day of Defeat: Source',
  'playtime_forever': 4733,
  'playtime_2weeks': 0},
 {'item_id': '240',
  'item_name': 'Counter-Strike: Source',
  'playtime_forever': 1853,
  'playtime_2weeks': 0},
 {'item_id': '3830',
  'item_name': 'Psychonauts',
  'playtime_forever': 333,
  'playtime_2weeks': 0},
 {'item_id': '2630',
  'item_name': 'Call of Duty 2',
  'playtime_forever': 75,
  'playtime_2weeks': 0},
 {'item_id': '3900',
  'item_name': "Sid Meier's Civilization IV",
  'playtime_forever': 338,
  'playtime_2weeks': 0},
 {'item_id': '34440',
  'item_name': "Sid Meier's Civilization IV",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '3920',
  'item_name': "Sid Meier's Pirates!",
  'playtime_forever': 2,
  'playtime_2weeks': 0},
 {'item_id': '6400',
  'item_name': 'Joint Task Force',
  'playtime_forever': 286,
  'playtime_2weeks': 0},
 {'item_id': '6910',
  'item_name': 'Deus Ex: Game of the Year Edition',
  'playtime_forever': 2685,
  'playtime_2weeks': 0},
 {'item_id': '7670',
  'item_name': 'BioShock',
  'playtime_forever': 633,
  'playtime_2weeks': 0},
 {'item_id': '409710',
  'item_name': 'BioShock Remastered',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '220',
  'item_name': 'Half-Life 2',
  'playtime_forever': 696,
  'playtime_2weeks': 0},
 {'item_id': '320',
  'item_name': 'Half-Life 2: Deathmatch',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '340',
  'item_name': 'Half-Life 2: Lost Coast',
  'playtime_forever': 37,
  'playtime_2weeks': 0},
 {'item_id': '360',
  'item_name': 'Half-Life Deathmatch: Source',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '380',
  'item_name': 'Half-Life 2: Episode One',
  'playtime_forever': 168,
  'playtime_2weeks': 0},
 {'item_id': '400',
  'item_name': 'Portal',
  'playtime_forever': 173,
  'playtime_2weeks': 0},
 {'item_id': '420',
  'item_name': 'Half-Life 2: Episode Two',
  'playtime_forever': 323,
  'playtime_2weeks': 0},
 {'item_id': '9340',
  'item_name': 'Company of Heroes: Opposing Fronts',
  'playtime_forever': 692,
  'playtime_2weeks': 0},
 {'item_id': '228200',
  'item_name': 'Company of Heroes (New Steam Version)',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '11450',
  'item_name': 'Overlord',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '7940',
  'item_name': 'Call of Duty 4: Modern Warfare',
  'playtime_forever': 1185,
  'playtime_2weeks': 0},
 {'item_id': '4700',
  'item_name': 'Medieval II: Total War',
  'playtime_forever': 477,
  'playtime_2weeks': 0},
 {'item_id': '12900',
  'item_name': 'Audiosurf',
  'playtime_forever': 115,
  'playtime_2weeks': 0},
 {'item_id': '13250',
  'item_name': 'Unreal Gold',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '16100',
  'item_name': 'Virtual Villagers: A New Home',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15700',
  'item_name': "Oddworld: Abe's Oddysee",
  'playtime_forever': 28,
  'playtime_2weeks': 0},
 {'item_id': '15710',
  'item_name': "Oddworld: Abe's Exoddus",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '17330',
  'item_name': 'Crysis Warhead',
  'playtime_forever': 31,
  'playtime_2weeks': 0},
 {'item_id': '17340',
  'item_name': 'Crysis Wars',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '22000',
  'item_name': 'World of Goo',
  'playtime_forever': 195,
  'playtime_2weeks': 0},
 {'item_id': '500',
  'item_name': 'Left 4 Dead',
  'playtime_forever': 513,
  'playtime_2weeks': 0},
 {'item_id': '4560',
  'item_name': 'Company of Heroes',
  'playtime_forever': 1061,
  'playtime_2weeks': 0},
 {'item_id': '17460',
  'item_name': 'Mass Effect',
  'playtime_forever': 1613,
  'playtime_2weeks': 0},
 {'item_id': '10500',
  'item_name': 'Empire: Total War',
  'playtime_forever': 186,
  'playtime_2weeks': 0},
 {'item_id': '24740',
  'item_name': 'Burnout Paradise: The Ultimate Box',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '22200',
  'item_name': 'Zeno Clash',
  'playtime_forever': 271,
  'playtime_2weeks': 0},
 {'item_id': '26800',
  'item_name': 'Braid',
  'playtime_forever': 445,
  'playtime_2weeks': 0},
 {'item_id': '1250',
  'item_name': 'Killing Floor',
  'playtime_forever': 10006,
  'playtime_2weeks': 0},
 {'item_id': '35420',
  'item_name': 'Killing Floor Mod: Defence Alliance 2',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '3590',
  'item_name': 'Plants vs. Zombies: Game of the Year',
  'playtime_forever': 4413,
  'playtime_2weeks': 0},
 {'item_id': '8880',
  'item_name': 'Freedom Force',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '8890',
  'item_name': 'Freedom Force vs. the 3rd Reich',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '23120',
  'item_name': 'Droplitz',
  'playtime_forever': 53,
  'playtime_2weeks': 0},
 {'item_id': '35700',
  'item_name': 'Trine',
  'playtime_forever': 199,
  'playtime_2weeks': 0},
 {'item_id': '10140',
  'item_name': '3D Ultra Minigolf Adventures Deluxe',
  'playtime_forever': 25,
  'playtime_2weeks': 0},
 {'item_id': '35010',
  'item_name': 'Batman: Arkham Asylum',
  'playtime_forever': 570,
  'playtime_2weeks': 0},
 {'item_id': '35140',
  'item_name': 'Batman: Arkham Asylum GOTY Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '29180',
  'item_name': 'Osmos',
  'playtime_forever': 940,
  'playtime_2weeks': 0},
 {'item_id': '15520',
  'item_name': 'AaAaAA!!! - A Reckless Disregard for Gravity',
  'playtime_forever': 110,
  'playtime_2weeks': 0},
 {'item_id': '32370',
  'item_name': 'STAR WARS™: Knights of the Old Republic™',
  'playtime_forever': 5,
  'playtime_2weeks': 0},
 {'item_id': '37700',
  'item_name': 'Darkest of Days',
  'playtime_forever': 782,
  'playtime_2weeks': 0},
 {'item_id': '6020',
  'item_name': 'STAR WARS™ Jedi Knight: Jedi Academy™',
  'playtime_forever': 77,
  'playtime_2weeks': 0},
 {'item_id': '24860',
  'item_name': 'Battlefield 2',
  'playtime_forever': 437,
  'playtime_2weeks': 0},
 {'item_id': '39530',
  'item_name': 'Painkiller: Black Edition',
  'playtime_forever': 503,
  'playtime_2weeks': 0},
 {'item_id': '550',
  'item_name': 'Left 4 Dead 2',
  'playtime_forever': 1474,
  'playtime_2weeks': 0},
 {'item_id': '223530',
  'item_name': 'Left 4 Dead 2 Beta',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '8980',
  'item_name': 'Borderlands',
  'playtime_forever': 3061,
  'playtime_2weeks': 0},
 {'item_id': '41500',
  'item_name': 'Torchlight',
  'playtime_forever': 536,
  'playtime_2weeks': 0},
 {'item_id': '20900',
  'item_name': 'The Witcher: Enhanced Edition',
  'playtime_forever': 139,
  'playtime_2weeks': 0},
 {'item_id': '10180',
  'item_name': 'Call of Duty: Modern Warfare 2',
  'playtime_forever': 1886,
  'playtime_2weeks': 0},
 {'item_id': '10190',
  'item_name': 'Call of Duty: Modern Warfare 2 - Multiplayer',
  'playtime_forever': 1784,
  'playtime_2weeks': 0},
 {'item_id': '17450',
  'item_name': 'Dragon Age: Origins',
  'playtime_forever': 4431,
  'playtime_2weeks': 0},
 {'item_id': '3170',
  'item_name': "King's Bounty: Armored Princess",
  'playtime_forever': 1021,
  'playtime_2weeks': 0},
 {'item_id': '25900',
  'item_name': "King's Bounty: The Legend",
  'playtime_forever': 1389,
  'playtime_2weeks': 0},
 {'item_id': '31410',
  'item_name': 'Zombie Driver',
  'playtime_forever': 95,
  'playtime_2weeks': 0},
 {'item_id': '24980',
  'item_name': 'Mass Effect 2',
  'playtime_forever': 5001,
  'playtime_2weeks': 0},
 {'item_id': '8850',
  'item_name': 'BioShock 2',
  'playtime_forever': 1504,
  'playtime_2weeks': 0},
 {'item_id': '409720',
  'item_name': 'BioShock 2 Remastered',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '46000',
  'item_name': 'Bob Came in Pieces',
  'playtime_forever': 11,
  'playtime_2weeks': 0},
 {'item_id': '33230',
  'item_name': "Assassin's Creed II",
  'playtime_forever': 1636,
  'playtime_2weeks': 0},
 {'item_id': '20820',
  'item_name': 'Shatter',
  'playtime_forever': 46,
  'playtime_2weeks': 0},
 {'item_id': '47700',
  'item_name': 'Command and Conquer 4: Tiberian Twilight',
  'playtime_forever': 85,
  'playtime_2weeks': 0},
 {'item_id': '24960',
  'item_name': 'Battlefield: Bad Company 2',
  'playtime_forever': 5716,
  'playtime_2weeks': 0},
 {'item_id': '43110',
  'item_name': 'Metro 2033',
  'playtime_forever': 834,
  'playtime_2weeks': 0},
 {'item_id': '8190',
  'item_name': 'Just Cause 2',
  'playtime_forever': 3083,
  'playtime_2weeks': 0},
 {'item_id': '49600',
  'item_name': 'Beat Hazard',
  'playtime_forever': 127,
  'playtime_2weeks': 0},
 {'item_id': '31220',
  'item_name': 'Sam & Max 301: The Penal Zone',
  'playtime_forever': 71,
  'playtime_2weeks': 0},
 {'item_id': '31230',
  'item_name': 'Sam & Max 302: The Tomb of Sammun-Mak',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31240',
  'item_name': "Sam & Max 303: They Stole Max's Brain!",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31250',
  'item_name': 'Sam & Max 304: Beyond the Alley of the Dolls',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31260',
  'item_name': 'Sam & Max 305: The City that Dares not Sleep',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '21090',
  'item_name': 'F.E.A.R.',
  'playtime_forever': 585,
  'playtime_2weeks': 0},
 {'item_id': '21110',
  'item_name': 'F.E.A.R.: Extraction Point',
  'playtime_forever': 146,
  'playtime_2weeks': 0},
 {'item_id': '21120',
  'item_name': 'F.E.A.R.: Perseus Mandate',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '49400',
  'item_name': 'Magic: The Gathering - Duels of the Planeswalkers',
  'playtime_forever': 32,
  'playtime_2weeks': 0},
 {'item_id': '33910',
  'item_name': 'Arma 2',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '33930',
  'item_name': 'Arma 2: Operation Arrowhead',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '219540',
  'item_name': 'Arma 2: Operation Arrowhead Beta (Obsolete)',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '17410',
  'item_name': "Mirror's Edge",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '205790',
  'item_name': 'Dota 2 Test',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '50130',
  'item_name': 'Mafia II',
  'playtime_forever': 707,
  'playtime_2weeks': 0},
 {'item_id': '62100',
  'item_name': 'Chime',
  'playtime_forever': 50,
  'playtime_2weeks': 0},
 {'item_id': '31280',
  'item_name': 'Poker Night at the Inventory',
  'playtime_forever': 206,
  'playtime_2weeks': 0},
 {'item_id': '57300',
  'item_name': 'Amnesia: The Dark Descent',
  'playtime_forever': 12,
  'playtime_2weeks': 0},
 {'item_id': '21970',
  'item_name': 'R.U.S.E',
  'playtime_forever': 64,
  'playtime_2weeks': 0},
 {'item_id': '8930',
  'item_name': "Sid Meier's Civilization V",
  'playtime_forever': 10345,
  'playtime_2weeks': 0},
 {'item_id': '41000',
  'item_name': 'Serious Sam HD: The First Encounter',
  'playtime_forever': 369,
  'playtime_2weeks': 0},
 {'item_id': '41050',
  'item_name': 'Serious Sam Classic: The First Encounter',
  'playtime_forever': 76,
  'playtime_2weeks': 0},
 {'item_id': '41060',
  'item_name': 'Serious Sam Classic: The Second Encounter',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '227780',
  'item_name': 'Serious Sam Classics: Revolution',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '18040',
  'item_name': 'DeathSpank',
  'playtime_forever': 594,
  'playtime_2weeks': 0},
 {'item_id': '22380',
  'item_name': 'Fallout: New Vegas',
  'playtime_forever': 43,
  'playtime_2weeks': 0},
 {'item_id': '42700',
  'item_name': 'Call of Duty: Black Ops',
  'playtime_forever': 966,
  'playtime_2weeks': 0},
 {'item_id': '42710',
  'item_name': 'Call of Duty: Black Ops - Multiplayer',
  'playtime_forever': 2452,
  'playtime_2weeks': 0},
 {'item_id': '62000',
  'item_name': 'Flight Control HD',
  'playtime_forever': 25,
  'playtime_2weeks': 0},
 {'item_id': '40800',
  'item_name': 'Super Meat Boy',
  'playtime_forever': 119,
  'playtime_2weeks': 0},
 {'item_id': '9500',
  'item_name': 'Gish',
  'playtime_forever': 6,
  'playtime_2weeks': 0},
 {'item_id': '18700',
  'item_name': 'And Yet It Moves',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31270',
  'item_name': 'Puzzle Agent',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '58200',
  'item_name': 'Jolly Rover',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '70400',
  'item_name': "Recettear: An Item Shop's Tale",
  'playtime_forever': 537,
  'playtime_2weeks': 0},
 {'item_id': '41300',
  'item_name': 'Altitude',
  'playtime_forever': 50,
  'playtime_2weeks': 0},
 {'item_id': '41800',
  'item_name': 'Gratuitous Space Battles',
  'playtime_forever': 149,
  'playtime_2weeks': 0},
 {'item_id': '42500',
  'item_name': 'DogFighter',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '49900',
  'item_name': 'Plain Sight',
  'playtime_forever': 23,
  'playtime_2weeks': 0},
 {'item_id': '55000',
  'item_name': 'Flotilla',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '34330',
  'item_name': 'Total War: SHOGUN 2',
  'playtime_forever': 1538,
  'playtime_2weeks': 0},
 {'item_id': '63200',
  'item_name': 'Monday Night Combat',
  'playtime_forever': 573,
  'playtime_2weeks': 0},
 {'item_id': '99810',
  'item_name': 'Bulletstorm',
  'playtime_forever': 2,
  'playtime_2weeks': 0},
 {'item_id': '620',
  'item_name': 'Portal 2',
  'playtime_forever': 887,
  'playtime_2weeks': 0},
 {'item_id': '42910',
  'item_name': 'Magicka',
  'playtime_forever': 588,
  'playtime_2weeks': 0},
 {'item_id': '15500',
  'item_name': 'The Wonderful End of the World',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15540',
  'item_name': '1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby)',
  'playtime_forever': 4,
  'playtime_2weeks': 0},
 {'item_id': '18500',
  'item_name': 'Defense Grid: The Awakening',
  'playtime_forever': 126,
  'playtime_2weeks': 0},
 {'item_id': '26500',
  'item_name': 'Cogs',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '35460',
  'item_name': 'The Ball',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '38700',
  'item_name': 'Toki Tori',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '38720',
  'item_name': 'RUSH',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '63700',
  'item_name': 'BIT.TRIP BEAT',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '280',
  'item_name': 'Half-Life: Source',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '20920',
  'item_name': 'The Witcher 2: Assassins of Kings Enhanced Edition',
  'playtime_forever': 1343,
  'playtime_2weeks': 0},
 {'item_id': '105600',
  'item_name': 'Terraria',
  'playtime_forever': 772,
  'playtime_2weeks': 0},
 {'item_id': '98200',
  'item_name': 'Frozen Synapse',
  'playtime_forever': 9,
  'playtime_2weeks': 0},
 {'item_id': '4500',
  'item_name': 'S.T.A.L.K.E.R.: Shadow of Chernobyl',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '4540',
  'item_name': 'Titan Quest',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '4550',
  'item_name': 'Titan Quest: Immortal Throne',
  'playtime_forever': 76,
  'playtime_2weeks': 0},
 {'item_id': '9480',
  'item_name': 'Saints Row 2',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15620',
  'item_name': 'Warhammer® 40,000™: Dawn of War® II',
  'playtime_forever': 2085,
  'playtime_2weeks': 0},
 {'item_id': '20500',
  'item_name': 'Red Faction: Guerrilla Steam Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '20570',
  'item_name': 'Warhammer® 40,000™: Dawn of War® II - Chaos Rising™',
  'playtime_forever': 69,
  'playtime_2weeks': 0},
 {'item_id': '50620',
  'item_name': 'Darksiders',
  'playtime_forever': 101,
  'playtime_2weeks': 0},
 {'item_id': '55100',
  'item_name': 'Homefront',
  'playtime_forever': 51,
  'playtime_2weeks': 0},
 {'item_id': '55140',
  'item_name': 'MX vs. ATV Reflex',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '56400',
  'item_name': 'Warhammer® 40,000™: Dawn of War® II – Retribution™',
  'playtime_forever': 678,
  'playtime_2weeks': 0},
 {'item_id': '475150',
  'item_name': 'Titan Quest Anniversary Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '96100',
  'item_name': 'Defy Gravity',
  'playtime_forever': 9,
  'playtime_2weeks': 0},
 {'item_id': '35450',
  'item_name': 'Rising Storm/Red Orchestra 2 Multiplayer',
  'playtime_forever': 14194,
  'playtime_2weeks': 0},
 {'item_id': '236830',
  'item_name': 'Red Orchestra 2: Heroes of Stalingrad - Single Player',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '72850',
  'item_name': 'The Elder Scrolls V: Skyrim',
  'playtime_forever': 2512,
  'playtime_2weeks': 0},
 {'item_id': '107100',
  'item_name': 'Bastion',
  'playtime_forever': 640,
  'playtime_2weeks': 0},
 {'item_id': '57690',
  'item_name': 'Tropico 4',
  'playtime_forever': 1815,
  'playtime_2weeks': 0},
 {'item_id': '91310',
  'item_name': 'Dead Island',
  'playtime_forever': 2078,
  'playtime_2weeks': 0},
 {'item_id': '113200',
  'item_name': 'The Binding of Isaac',
  'playtime_forever': 1494,
  'playtime_2weeks': 0},
 {'item_id': '65800',
  'item_name': 'Dungeon Defenders',
  'playtime_forever': 130,
  'playtime_2weeks': 0},
 {'item_id': '9200',
  'item_name': 'RAGE',
  'playtime_forever': 653,
  'playtime_2weeks': 0},
 {'item_id': '41070',
  'item_name': 'Serious Sam 3: BFE',
  'playtime_forever': 716,
  'playtime_2weeks': 0},
 {'item_id': '48950',
  'item_name': 'Greed Corp',
  'playtime_forever': 72,
  'playtime_2weeks': 0},
 {'item_id': '92800',
  'item_name': 'SpaceChem',
  'playtime_forever': 262,
  'playtime_2weeks': 0},
 {'item_id': '104700',
  'item_name': 'Super Monday Night Combat',
  'playtime_forever': 44,
  'playtime_2weeks': 0},
 {'item_id': '203770',
  'item_name': 'Crusader Kings II',
  'playtime_forever': 18,
  'playtime_2weeks': 0},
 {'item_id': '203810',
  'item_name': 'Dear Esther',
  'playtime_forever': 86,
  'playtime_2weeks': 0},
 {'item_id': '110800',
  'item_name': 'L.A. Noire',
  'playtime_forever': 1204,
  'playtime_2weeks': 0},
 {'item_id': '207610',
  'item_name': 'The Walking Dead',
  'playtime_forever': 798,
  'playtime_2weeks': 0},
 {'item_id': '98300',
  'item_name': 'Toy Soldiers',
  'playtime_forever': 110,
  'playtime_2weeks': 0},
 {'item_id': '50300',
  'item_name': 'Spec Ops: The Line',
  'playtime_forever': 296,
  'playtime_2weeks': 0},
 {'item_id': '204300',
  'item_name': 'Awesomenauts',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '1700',
  'item_name': 'Arx Fatalis',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '205100',
  'item_name': 'Dishonored',
  'playtime_forever': 1429,
  'playtime_2weeks': 0},
 {'item_id': '211120',
  'item_name': 'The Political Machine',
  'playtime_forever': 1,
  'playtime_2weeks': 0},

In [157]:
pd.json_normalize(df_ui["items"][0])

    item_id                  item_name  playtime_forever  playtime_2weeks
0        10             Counter-Strike                 6                0
1        20      Team Fortress Classic                 0                0
2        30              Day of Defeat                 7                0
3        40         Deathmatch Classic                 0                0
4        50  Half-Life: Opposing Force                 0                0
..      ...                        ...               ...              ...
272  289130             Endless Legend               593                0
273  268500                     XCOM 2              1495                0
274  461640      Sins Of The Demon RPG                 0                0
275  379720                       DOOM               793                0
276  273350             Evolve Stage 2                58                0

[277 rows x 4 columns]

    y aca ya decedi que el formato que me sirve es el anterior en el que devuelve 4 columnas y todos los diferentes json anidados de esa fila

## agrego  una columna  llamada indice ui para no perder la conexion entre user y sus items

In [162]:
for i in range(0,len(df_ui)):
    df_ui.loc[i, "indice_ui"] = i

df_ui["indice_ui"].astype(int)
df_ui.head()

,user_id,items_count,steam_id,user_url,items,indice_ui
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0.0
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik...",1.0
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest...",2.0
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik...",3.0
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea...",4.0

    genero un indice por el cual voy a relacionar con los items que tendre en un dataframe aparte ya que este es muy pesado para git hub

## voy a guardar la columna items en un dataframe distinto y relacionarlo con indice ui (para reducir el espacio que ocupa)

In [163]:
uitems = pd.concat([df_ui["items"],df_ui["indice_ui"]],axis=1)

In [164]:
uitems

                                                   items  indice_ui
0      [{'item_id': '10', 'item_name': 'Counter-Strik...        0.0
1      [{'item_id': '10', 'item_name': 'Counter-Strik...        1.0
2      [{'item_id': '1200', 'item_name': 'Red Orchest...        2.0
3      [{'item_id': '10', 'item_name': 'Counter-Strik...        3.0
4      [{'item_id': '300', 'item_name': 'Day of Defea...        4.0
...                                                  ...        ...
88305  [{'item_id': '413850', 'item_name': 'CS:GO Pla...    88305.0
88306  [{'item_id': '11020', 'item_name': 'TrackMania...    88306.0
88307                                                 []    88307.0
88308  [{'item_id': '304930', 'item_name': 'Unturned'...    88308.0
88309                                                 []    88309.0

[88310 rows x 2 columns]

    importante aclarar que hay items vacios pero aun asi no lo eh de borrar ya que no poseeo repetidos y el hecho de que tenga como valor una lista vacia puede deberse a que realmente ese usuario no tenga tales actividades

## voy a guardarlo en un archivo a parte

In [165]:
uitems.to_parquet(r"../app/uitems.parquet")

<hr>

## sigo trabajando con user_items pero ahora puedo borrar la columna items

    borramos la columna items ya que la tenemos en el archivo uitems

In [166]:
del df_ui["items"]

In [167]:
etf.data_review(df_ui)

Total rows:  88310

Total full null rows:  0

Total duplicated rows: 0

        Column              dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0      user_id    [<class 'str'>]      100.0        88310     0.0         0
1  items_count    [<class 'int'>]      100.0        88310     0.0         0
2     steam_id    [<class 'str'>]      100.0        88310     0.0         0
3     user_url    [<class 'str'>]      100.0        88310     0.0         0
4    indice_ui  [<class 'float'>]      100.0        88310     0.0         0

### valores nulos

## guardando el df procesado en un archivo parquet

In [172]:
df_ui.to_parquet(r"../app/users_items.parquet")#dentro de la carpeta de la api #  se pasa  el peso permitido por git hub por 16 mb pesando 116