In [1]:
import pandas as pd
import numpy as np
import ETL_functions as etf
import ast

In [ ]:
@app.get("/UsersRecommend")
async def UsersRecommend( año : int ): #Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
    return {} #Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [3]:
df_umr2_1 = pd.read_parquet("../app/reviews_dict.parquet")
df_umr2_2 = pd.read_json(r"../Datasets/steam_games.json/output_steam_games.json" ,lines=True)

In [4]:
df_umr2_1

,posted,item_id,recommend,review,sentimiento
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,2
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,2
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,2
0,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,2
1,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,0
...,...,...,...,...,...
2,Posted July 10.,70,True,a must have classic from steam definitely wort...,2
3,Posted July 8.,362890,True,this game is a perfect remake of the original ...,2
0,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,2
1,Posted July 20.,730,True,:D,2
2,Posted July 2.,440,True,so much fun :D,2

In [ ]:
del df_umr2_1["review"]

In [ ]:
df_umr2_1["item_id"] = df_umr2_1["item_id"].astype(float)

In [ ]:
df_umr2_1

<hr>

In [ ]:
df_umr2_2

In [ ]:
del df_umr2_2["genres"]
del df_umr2_2["app_name"]
del df_umr2_2["price"]
del df_umr2_2["release_date"]
del df_umr2_2["reviews_url"]
del df_umr2_2["url"]

In [ ]:
del  df_umr2_2["early_access"]
del  df_umr2_2["specs"]
del  df_umr2_2["tags"]
del  df_umr2_2["title"]

In [ ]:
df_umr2_2.drop_duplicates(inplace=True)

In [ ]:
df_umr2_2

In [ ]:
df_umr2_2.drop(0,inplace=True)#borramos la unica columna que no poseia datos que quedaba

In [ ]:
df_umr2_2

In [ ]:
merge = df_umr2_1.merge(df_umr2_2,how="inner",left_on="item_id",right_on="id")

In [ ]:
merge