In [31]:
import pandas as pd
import numpy as np
import ETL_functions as etf
import ast

#  usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año

In [32]:
df_sg = pd.read_json(r"../Datasets/steam_games.json/output_steam_games.json" ,lines=True) # archivo steam_games

In [33]:
df_sg

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns"
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None

    en este dataframe conservare:
* app_name
* title
* genres(entrada esperada)
* id 
* releas_date

In [34]:
del df_sg["publisher"]
del df_sg["specs"]
del df_sg["price"]
del df_sg["early_access"]
del df_sg["developer"]
del df_sg["reviews_url"]

In [35]:
df_sg

,genres,app_name,title,url,release_date,tags,id
0,None,None,None,None,None,None,NaN
1,None,None,None,None,None,None,NaN
2,None,None,None,None,None,None,NaN
3,None,None,None,None,None,None,NaN
4,None,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",773640.0
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",733530.0
120442,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",610660.0
120443,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",658870.0
120444,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",681550.0

    transformo las listas a str para poder manejar los nulos y duplicados

In [36]:
df_sg["genres"] = df_sg["genres"].astype(str)
df_sg["tags"] = df_sg["tags"].astype(str)

In [37]:
etf.data_review(df_sg)

Total rows:  120445

Total full null rows:  0

Total duplicated rows: 88309

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,120445,0.00,0
1,app_name,"[<class 'NoneType'>, <class 'str'>]",26.68,32133,73.32,88312
2,title,"[<class 'NoneType'>, <class 'str'>]",24.98,30085,75.02,90360
3,url,"[<class 'NoneType'>, <class 'str'>]",26.68,32135,73.32,88310
4,release_date,"[<class 'NoneType'>, <class 'str'>]",24.96,30068,75.04,90377
5,tags,[<class 'str'>],100.00,120445,0.00,0
6,id,[<class 'float'>],26.68,32133,73.32,88312

    gracias a esta funcion podemos darnos rapidamente de la cantidad de nulos en cada columna 
    y que las columnas genres y tags que pasamos a str nos dice que no hay nulos por que la cadena  "None" o  "[]" no son considerados nulos

##  eliminacion de duplicados

    cualquier registro duplicado no resulta importante debido a que los datos ya se encuentran en el dataset 
    (en especial en este caso que tenemos muchas columnas que tienen todas la columnas en null)

In [38]:
df_sg.drop_duplicates(inplace=True)#elimino todos los duplicados dejando solo registros unicos y con ellos una columna llena de valores null que removere en la siguiente instruccion

In [39]:
df_sg.head(3)

,genres,app_name,title,url,release_date,tags,id
0,None,None,None,None,None,None,NaN
88310,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",761140.0
88311,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",643980.0

In [40]:
df_sg.drop(0,inplace=True)#borramos la unica columna que no poseia datos que quedaba

In [41]:
df_sg.head(3)

,genres,app_name,title,url,release_date,tags,id
88310,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",761140.0
88311,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",643980.0
88312,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",670290.0

In [42]:
etf.data_review(df_sg)

Total rows:  32135

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,32135,0.00,0
1,app_name,"[<class 'str'>, <class 'NoneType'>]",99.99,32133,0.01,2
2,title,"[<class 'str'>, <class 'NoneType'>]",93.62,30085,6.38,2050
3,url,[<class 'str'>],100.00,32135,0.00,0
4,release_date,"[<class 'str'>, <class 'NoneType'>]",93.57,30068,6.43,2067
5,tags,[<class 'str'>],100.00,32135,0.00,0
6,id,[<class 'float'>],99.99,32133,0.01,2

## esto borra las columnas que no tengan ni app_name ni title
    ya que aunque se podria rellenar con datos de user_items solo son 2 registros por lo que no me tomare el trabajo de normalizar

In [55]:
mask = ((df_sg["title"] == "None") & (df_sg["app_name"] == "None")) #filtro donde title y app_name tengan el valor de "None" (es una string debido a que los transforme anterior mente)
df_sg = df_sg[~mask]# ~ obtenemos la parte contraria de el filtro ,y los seteamos al dataframe simulando un dropeo

## reemplazo los valores nulos en genero por los coincidentes en tags

    reduciendo la listas a un string separado por , para facilitar el procesamiento a partir de split cadaa vez que necesitemos acceder

In [43]:
df_sg["genres"] = df_sg["genres"].str.strip("[]").str.replace(" '","").str.replace("'","")

df_sg["genres"]

88310         Action,Casual,Indie,Simulation,Strategy
88311                 Free to Play,Indie,RPG,Strategy
88312     Casual,Free to Play,Indie,Simulation,Sports
88313                         Action,Adventure,Casual
88314                                            None
                             ...
120440               Casual,Indie,Simulation,Strategy
120441                          Casual,Indie,Strategy
120442                        Indie,Racing,Simulation
120443                                   Casual,Indie
120444                                           None
Name: genres, Length: 32135, dtype: object

    la siguiente linea borra los corchetes las comillas y los espacios entre los valores volviendolos un str separado por , que forman parte del string

In [44]:
df_sg["tags"] = df_sg["tags"].str.strip("[]").str.replace(" '","").str.replace("'","")

df_sg["tags"]

88310               Strategy,Action,Indie,Casual,Simulation
88311     Free to Play,Strategy,Indie,RPG,Card Game,Trad...
88312     Free to Play,Simulation,Sports,Casual,Indie,Mu...
88313                               Action,Adventure,Casual
88314                            Action,Indie,Casual,Sports
                                ...
120440                     Strategy,Indie,Casual,Simulation
120441                                Strategy,Indie,Casual
120442                              Indie,Simulation,Racing
120443    Indie,Casual,Puzzle,Singleplayer,Atmospheric,R...
120444    Early Access,Adventure,Indie,Action,Simulation,VR
Name: tags, Length: 32135, dtype: object

    usamos la funcion creada en el archivo ETL_functions para sacar los elementos unicos de estas columnas

In [45]:
generos = etf.valores_lista(df_sg,"genres") #obtengo todos los valores unicos de genres
tags = etf.valores_lista(df_sg,"tags")      #obtengo todos  los valores unicos de tags
elementos_comunes = list(set(generos) & set(tags)) #obtengo la interseccion entre esos valores

elementos_comunes#esta es la lista de los valores que sabemos que estan en genero que tambien forman parte de tags

['Strategy',
 'Adventure',
 'Audio Production',
 'Simulation',
 'Education',
 'Photo Editing',
 'Casual',
 'Early Access',
 'RPG',
 'None',
 'Web Publishing',
 'Indie',
 'Action',
 'Massively Multiplayer',
 'Racing',
 'Video Production',
 'Free to Play',
 'Software Training',
 'Utilities',
 'Sports']

    estos son los valores que comparten tanto generos como tags podemos notar que se encuentra el valor None(lo borraremos) y algunos valores que podrian no considerarse generos pero los dejaremos ya que podria ser que dentro de laa plataforma si se consideren como generos

In [ ]:
elementos_comunes.remove('None')# removemos None de esta lista de elementos en comun

In [46]:
elementos_comunes

['Strategy',
 'Adventure',
 'Audio Production',
 'Simulation',
 'Education',
 'Photo Editing',
 'Casual',
 'Early Access',
 'RPG',
 'None',
 'Web Publishing',
 'Indie',
 'Action',
 'Massively Multiplayer',
 'Racing',
 'Video Production',
 'Free to Play',
 'Software Training',
 'Utilities',
 'Sports']

### antes de rellenar genres

In [47]:
df_sg["genres"]

88310         Action,Casual,Indie,Simulation,Strategy
88311                 Free to Play,Indie,RPG,Strategy
88312     Casual,Free to Play,Indie,Simulation,Sports
88313                         Action,Adventure,Casual
88314                                            None
                             ...
120440               Casual,Indie,Simulation,Strategy
120441                          Casual,Indie,Strategy
120442                        Indie,Racing,Simulation
120443                                   Casual,Indie
120444                                           None
Name: genres, Length: 32135, dtype: object

In [48]:
etf.rellenar_comunes(df_sg,"genres",df_sg,"tags",elementos_comunes)

'fin de ejecucion'

### despues de rellenar genres

In [49]:
df_sg["genres"]

88310            Action,Casual,Indie,Simulation,Strategy
88311                    Free to Play,Indie,RPG,Strategy
88312        Casual,Free to Play,Indie,Simulation,Sports
88313                            Action,Adventure,Casual
88314                         Casual,Sports,Action,Indie
                               ...
120440                  Casual,Indie,Simulation,Strategy
120441                             Casual,Indie,Strategy
120442                           Indie,Racing,Simulation
120443                                      Casual,Indie
120444    Adventure,Simulation,Indie,Action,Early Access
Name: genres, Length: 32135, dtype: object

    ahora podemos borrar la columna tags ya que el unico motivo por el que la conservaba era para rellenar genres

In [50]:
del df_sg["tags"]

In [59]:
etf.data_review(df_sg)

Total rows:  32135

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,genres,[<class 'str'>],100.00,32135,0.00,0
1,app_name,"[<class 'str'>, <class 'NoneType'>]",99.99,32133,0.01,2
2,title,"[<class 'str'>, <class 'NoneType'>]",93.62,30085,6.38,2050
3,url,[<class 'str'>],100.00,32135,0.00,0
4,release_date,"[<class 'str'>, <class 'NoneType'>]",93.57,30068,6.43,2067
5,id,[<class 'float'>],99.99,32133,0.01,2

    ya contamos con 0 nulls en genres

##   rellenar app_name con title

In [52]:
df_sg["app_name"] = np.where(df_sg["app_name"] == "None", df_sg["title"], df_sg["app_name"])

In [ ]:
del df_sg["title"]

##  eliminacion de nulos

si no tiene release date

<hr>

In [2]:
df_ufg_2 = pd.read_parquet(r"../app/users_items.parquet")
df_ufg_3 = pd.read_parquet(r"../app/uitems.parquet")

@app.get("/UserForGenre")

async def UserForGenre( genero : str ): #Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.

    return {} #Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [3]:
df_ufg_1

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns"
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None

    solo necesitamos app_name o title y genero

In [4]:
del df_ufg_1["publisher"]
del df_ufg_1["release_date"]
del df_ufg_1["tags"]
del df_ufg_1["specs"]
del df_ufg_1["early_access"]
del df_ufg_1["developer"]

In [5]:
df_ufg_1

,genres,app_name,title,url,reviews_url,price,id
0,None,None,None,None,None,None,NaN
1,None,None,None,None,None,None,NaN
2,None,None,None,None,None,None,NaN
3,None,None,None,None,None,None,NaN
4,None,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,http://steamcommunity.com/app/773640/reviews/?...,1.99,773640.0
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,http://steamcommunity.com/app/733530/reviews/?...,4.99,733530.0
120442,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,http://steamcommunity.com/app/610660/reviews/?...,1.99,610660.0
120443,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,http://steamcommunity.com/app/658870/reviews/?...,4.99,658870.0
120444,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,http://steamcommunity.com/app/681550/reviews/?...,4.99,681550.0

<hr>

In [6]:
df_ufg_2

,user_id,items_count,steam_id,user_url,indice_ui
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,0.0
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,1.0
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,2.0
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,3.0
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,4.0
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,88305.0
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,88306.0
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,88307.0
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,88308.0
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,88309.0

In [7]:
df_ufg_3

                                                   items  indice_ui
0      [{'item_id': '10', 'item_name': 'Counter-Strik...        0.0
1      [{'item_id': '10', 'item_name': 'Counter-Strik...        1.0
2      [{'item_id': '1200', 'item_name': 'Red Orchest...        2.0
3      [{'item_id': '10', 'item_name': 'Counter-Strik...        3.0
4      [{'item_id': '300', 'item_name': 'Day of Defea...        4.0
...                                                  ...        ...
88305  [{'item_id': '413850', 'item_name': 'CS:GO Pla...    88305.0
88306  [{'item_id': '11020', 'item_name': 'TrackMania...    88306.0
88307                                                 []    88307.0
88308  [{'item_id': '304930', 'item_name': 'Unturned'...    88308.0
88309                                                 []    88309.0

[88310 rows x 2 columns]

In [8]:
merge = df_ufg_2.merge(df_ufg_3,how="inner",on="indice_ui")

In [9]:
merge

,user_id,items_count,steam_id,user_url,indice_ui,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,0.0,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,1.0,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,2.0,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,3.0,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,4.0,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,88305.0,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,88306.0,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,88307.0,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,88308.0,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,88309.0,[]

    borro todos los registros que tienen item count = 0 ya que en teoria si no tienene juegos no tienen horas jugadas

In [10]:
merge = merge.loc[merge['items_count'] != 0]

    dataframe sin items count = 0

In [11]:
merge

,user_id,items_count,steam_id,user_url,indice_ui,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,0.0,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,1.0,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,2.0,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,3.0,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,4.0,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...,...
88303,76561198320136420,321,76561198320136420,http://steamcommunity.com/profiles/76561198320...,88303.0,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88304,ArkPlays7,4,76561198321542621,http://steamcommunity.com/id/ArkPlays7,88304.0,"[{'item_id': '218230', 'item_name': 'PlanetSid..."
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,88305.0,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,88306.0,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,88308.0,"[{'item_id': '304930', 'item_name': 'Unturned'..."

$codigo de gpt

In [12]:
import pandas as pd

# DataFrame original (reemplazar con tu DataFrame real)
data_original = {
    'genres': [None, None, ['Casual', 'Indie', 'Simulation', 'Strategy'], ['Casual', 'Indie', 'Strategy'], ['Indie', 'Racing', 'Simulation'], ['Casual', 'Indie'], None],
    'app_name': ['None', 'None', 'Colony On Mars', 'LOGistICAL: South Africa', 'Russian Roads', 'EXIT 2 - Directions', 'Maze Run VR'],
    'title': ['None', 'None', 'Colony On Mars', 'LOGistICAL: South Africa', 'Russian Roads', 'EXIT 2 - Directions', 'Maze Run VR'],
    'url': [None, None, 'http://store.steampowered.com/app/773640/Colony_On_Mars/', 'http://store.steampowered.com/app/733530/LOGistICAL_South_Africa/', 'http://store.steampowered.com/app/610660/Russian_Roads/', 'http://store.steampowered.com/app/658870/EXIT_2_Directions/', 'http://store.steampowered.com/app/681550/Maze_Run_VR/'],
    'reviews_url': [None, None, 'http://steamcommunity.com/app/773640/reviews/?browsefilter=mostrecent', 'http://steamcommunity.com/app/733530/reviews/?browsefilter=mostrecent', 'http://steamcommunity.com/app/610660/reviews/?browsefilter=mostrecent', 'http://steamcommunity.com/app/658870/reviews/?browsefilter=mostrecent', 'http://steamcommunity.com/app/681550/reviews/?browsefilter=mostrecent'],
    'price': [None, None, 1.99, 4.99, 1.99, 4.99, 4.99],
    'id': [None, None, 773640.0, 733530.0, 610660.0, 658870.0, 681550.0]
}

df_original = pd.DataFrame(data_original)

# Bucle para procesar la columna 'items'
for index, row in df_original.iterrows():
    items_df = pd.json_normalize(row['items'], sep='_') if 'items' in row and row['items'] else pd.DataFrame()
    
    # Merge con el DataFrame original
    merged_df = pd.merge(df_original, items_df, left_index=True, right_index=True, suffixes=('', '_items'), how='left')

    # Desanidar o split en la columna de géneros
    genres_df = pd.DataFrame(merged_df['genres_items'].to_list(), columns=['genre'])
    
    # Realizar el merge con el DataFrame original nuevamente
    final_df = pd.merge(merged_df, genres_df, left_index=True, right_index=True, suffixes=('', '_genres'), how='left')

    # Agrupar y sumar por año y género
    result_df = final_df.groupby(['year', 'genre'])['playtime_forever'].sum().reset_index()

    # Obtener el género con mayor horas jugadas por año
    max_playtime_genre = result_df.loc[result_df.groupby('year')['playtime_forever'].idxmax()]

    # Mostrar los resultados (puedes adaptar esto según tus necesidades)
    print(f"\nResultados para el índice {index}:\n{max_playtime_genre}")

    # Puedes almacenar o procesar más los resultados según tus necesidades

KeyError: 'genres_items'